<% include partials/header.ejs %>
<style type="text/css" media="all">
	/*@import "css/info.css";
	@import "css/main.css";*/
	@import "/css/widgEditor.css";
</style>

<script type="text/javascript" src="/js/widgEditor.js"></script>

<div class="w3-row w3-margin-top">
  <% include partials/navs.ejs %>
  <div style="width:60%;margin-bottom:200px" class="w3-col w3-card-4 w3-mobile w3-animate-right">
    <form class="w3-container" action="/admin/edit" method="POST">
			<br>
			<dl>
				<dt> <label>Deal title</label> </dt>
				<dd><input type="text" name="dealTitle" value="<%= deal.title %>"></dd>
				<dt> <label>Price</label> </dt>
				<dd><input type="text" name="dealPrice" value="<%= deal.price %>"></dd>
			</dl>


      <label class="w3-indigo w3-padding"> <i class="fa fa-pencil"></i> Marketing write up</label>
      <textarea class="summernote" name="marketingWriteUp"><%- deal.writeup%></textarea>

      <label class="w3-indigo w3-padding">Things you get</label>
      <textarea class="summernote" name="thingGet"><%- deal.thingGet%></textarea>

				<dl>
					<dt> <label>Shoppy text</label> </dt>
					<dd><input type="text" placeholder="Link to item" name="shoppy_txt" value="<%= deal.shoppy_txt %>"></dd>
					<dt> <label>Shoppy link</label> </dt>
					<dd><input type="url" placeholder="Link to item" name="shopLink" value="<%= deal.shoppy_link%>"></dd>
				</dl>

			<dl>
				<dt> <label>Video of the day</label> </dt>
				<dd><input type="text" placeholder="Video Link" name="VideoLink" value="<%= deal.video %>"></dd>
			</dl>

			<dl>
				<dt> <label>Date</label> </dt>
				<dd><input id="date" type="date" placeholder="Day" name="date" value="<%= dealDate %>"></dd>
				<dt> <label>BG color</label> </dt>
				<dd><input type="color" name="bg_color" value="<%= deal.bg_color %>"></dd>
			</dl>

      <div class="w3-center">
        <button style="margin-top:50px;margin-bottom:50px;padding:50px;font-size:24px" name="id" value="<%= deal.ID%>" class="w3-button w3-blue w3-round" type="submit"> <i class="fa fa-send"></i> Update deal!</button>
      </div>


    </form>




  </div>
  <div style="width:20%" class="w3-col w3-animate-right">
    <ul class="w3-ul w3-bar-block">

			<% deals.forEach(function(item){ %>
				<a href="/admin/edit/<%= item.ID %>"><li class="w3-bar-item w3-button"><%= item.title %>
				<% if(item.timestamp == currentDate){ %>
					<span class="w3-tag w3-green w3-right">on Fire</span>
				<% }else if(item.timestamp < currentDate){ %>
					<span class="w3-tag w3-red w3-right">Past</span>
			  <% }else{ %>
					<span class="w3-tag w3-yellow w3-right">Pending</span>
				<% } %>
			</li></a>
			<% }); %>

    </ul>
  </div>

</div>
  <script>
    $(document).ready(function() {
        $('.summernote').summernote();
    });
  </script>
