<% include partials/header.ejs %>

<div class="w3-row w3-margin-top">
  <% include partials/navs.ejs %>
  <div style="width:60%;margin-bottom:200px" class="w3-col w3-card-4 w3-mobile w3-animate-right">
    <form class="w3-container" action="/han/edit" method="POST">
			<br>
      <!-- Displaying some BadAss Images Here! -->
			<dl>
				<dt> <label>Deal title</label> </dt>
				<dd><input type="text" name="dealTitle" value="<%= deal.title %>"></dd>
				<dt> <label>Price Text</label> </dt>
				<dd><input type="text" name="dealPrice" value="<%= deal.price %>"></dd>
        <dt> <label>Price</label> </dt>
				<dd><input type="text" name="ac_price" value="<%= deal.ac_price %>"></dd>
			</dl>

      <div class="w3-row w3-margin-bottom">

        <div class="w3-half">
          <label class="w3-indigo w3-padding"> Categories</label>
          <span class="w3-row">
            <input class="cat w3-input w3-grey w3-row w3-border" type="text" name="" value="">
            <button class="cat-add w3-button w3-quarter w3-teal" type="button" name="button">Add</button>
            <button style="display:none" class="add-cat-op w3-quarter w3-black w3-button" type="button" name="button"> <i class="fa fa-plus"></i> </button>
          </span>

          <ul class="cat-list w3-row w3-ul w3-white">
            <% if(dealCats){ %>
              <% dealCats.forEach(function(item){ %>
                <% item.split(",").forEach(function(i,index){ %>
                  <% if(item.split(",").length-1 != index){ %>
                    <% if(index == 0){ %>
                      <li class="w3-grey"><%= i %></li>
                    <% }else{ %>
                      <li><%= i %></li>
                    <% } %>
                  <% } %>
                <% }); %>
              <% }); %>
            <% } %>

          </ul>
        </div>

        <div class="w3-half">
          <label class="w3-indigo w3-padding"> Survey</label>
          <span class="w3-row">
            <input class="suv w3-input w3-grey w3-threequarter w3-border" type="text" name="" value="">
            <button class="suv-add w3-button w3-quarter w3-teal" type="button" name="button">Add</button>
          </span>

          <ul class="suv-list w3-row w3-ul w3-white">
            <li class="w3-grey"><%= survey.question %></li>
            <% if(survey.ans_one){ %>
              <li><%= survey.ans_one %></li>
            <% } %>
            <% if(survey.ans_two){ %>
              <li><%= survey.ans_two %></li>
            <% } %>
            <% if(survey.ans_three){ %>
              <li><%= survey.ans_three %></li>
            <% } %>
            <% if(survey.ans_four){ %>
              <li><%= survey.ans_four %></li>
            <% } %>
            <% if(survey.ans_five){ %>
              <li><%= survey.ans_five %></li>
            <% } %>
            <% if(survey.ans_six){ %>
              <li><%= survey.ans_six %></li>
            <% } %>
          </ul>
        </div>
      </div>

      <label class="w3-indigo w3-padding"> <i class="fa fa-pencil"></i> Marketing write up</label>
      <textarea class="summernote" name="marketingWriteUp"><%- deal.writeup%></textarea>

      <label class="w3-indigo w3-padding">Things you get</label>
      <textarea class="summernote" name="thingGet"><%- deal.thingGet%></textarea>

      <label class="w3-indigo w3-padding">Share text</label>
      <textarea class="w3-input w3-border w3-margin-bottom w3-round" name="share_txt"><%- deal.share_txt %></textarea>

				<dl>
					<dt> <label>Shoppy text</label> </dt>
					<dd><input type="text" placeholder="Link to item" name="shoppy_txt" value="<%= deal.shoppy_txt %>"></dd>
					<dt> <label>Shoppy link</label> </dt>
					<dd><input type="url" placeholder="Link to item" name="shopLink" value="<%= deal.shoppy_link%>"></dd>
				</dl>

			<dl>
				<dt> <label>Video of the day</label> </dt>
				<dd><input type="text" placeholder="Video Link" name="VideoLink" value="<%= deal.video %>"></dd>
			</dl>
        <input type="hidden" name="actualDate" value="<%= deal.timestamp %>">
			<dl>
				<dt> <label>Date</label> </dt>
				<dd><input id="date" type="date" placeholder="Day" name="date" value="<%= dealDate %>"></dd>
				<dt> <label>BG color</label> </dt>
				<dd><input type="color" name="bg_color" value="<%= deal.bg_color %>"></dd>
			</dl>

      <div class="w3-center">
        <button style="margin-top:50px;margin-bottom:50px;padding:50px;font-size:24px" name="id" value="<%= deal.ID%>" class="w3-button w3-blue w3-round" type="submit"> <i class="fa fa-send"></i> Update deal!</button>
      </div>


    </form>




  </div>
  <div style="width:20%" class="w3-col w3-animate-right">
    <ul class="w3-ul w3-bar-block">

			<% deals.forEach(function(item){ %>
				<a href="/han/edit/<%= item.ID %>"><li class="w3-bar-item w3-button"><%= item.title %>
				<% if(item.timestamp == currentDate){ %>
					<span class="w3-tag w3-green w3-right">on Fire</span>
				<% }else if(item.timestamp < currentDate){ %>
					<span class="w3-tag w3-red w3-right">Past</span>
			  <% }else{ %>
					<span class="w3-tag w3-yellow w3-right">Pending</span>
				<% } %>
			</li></a>
			<% }); %>

    </ul>
  </div>

</div>
  <script>
    $(document).ready(function() {
        $('.summernote').summernote();
    });
  </script>
