<% include partials/header.ejs %>

<div class="w3-row">
  <% include partials/navs.ejs %>
  <div style="width:60%" class="w3-col w3-card-4">

    <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom w3-round-xlarge">
      <div class="w3-container w3-padding">
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <h3>Announcement</h3>
      <textarea class="w3-input w3-border announcement summernote" placeholder="***-- Text here! --***" rows="8" cols="80"> <%- announcement %> </textarea>
        <button class="w3-teal w3-round w3-right w3-padding announcement-submit" type="button" name="button">Post </button>
      </div>
    </div>
    </div>

    <marquee onclick="document.getElementById('id01').style.display='block'" style="cursor:pointer" class="w3-teal w3-xlarge">Do you have any announcements to give! Click here!!!</marquee>

    <div class="w3-container">
      <h3>Yesterday vs Today</h3>
    </div>
    <div class="w3-row">
      <div style="width:30%;margin:12px" class="w3-col w3-padding w3-center">
          <% if(todays_accounts > yes_accounts){ %>
          <h3 class="w3-text-green">+<%= todays_accounts - yes_accounts %></h3>
          <% }else if(yes_accounts > todays_accounts){ %>
          <h3 class="w3-text-red">-<%= yes_accounts - todays_accounts %></h3>
          <% }else{ %>
          <h3>0</h3>
          <% } %>
          <h6>Account(s) created</h6>
      </div>
      <div style="width:30%;margin:12px" class="w3-col w3-padding w3-center w3-mobile">
        <% if(todays_invoice > yes_invoice){ %>
        <h3 class="w3-text-green">+<%= todays_invoice - yes_invoice %></h3>
        <% }else if(yes_invoice > todays_invoice){ %>
        <h3 class="w3-text-red">-<%= yes_invoice - todays_invoice %></h3>
        <% }else{ %>
        <h3>0</h3>
        <% } %>
          <h6>Initiated order(s)</h6>
      </div>
      <div style="width:30%;margin:12px" class="w3-col w3-padding w3-center w3-mobile">
        <% if(todays_paid > yes_paid){ %>
        <h3 class="w3-text-green">+<%= todays_paid - yes_paid %></h3>
        <% }else if(yes_paid > todays_paid){ %>
        <h3 class="w3-text-red">-<%= yes_paid - todays_paid %></h3>
        <% }else{ %>
        <h3>0</h3>
        <% } %>
          <h6>Paid Order(s)</h6>
      </div>
    </div>

    <div class="w3-container">
      <h3>Today</h3>
    </div>
    <div class="w3-row">
      <div style="width:30%;margin:12px" class="w3-col w3-card-2 w3-red w3-padding w3-center">
          <h1><%= todays_accounts %></h1>
          <h6>Account(s) created</h6>
      </div>
      <div style="width:30%;margin:12px" class="w3-col w3-card-2 w3-pink w3-padding w3-center w3-mobile">
          <h1><%= todays_invoice %></h1>
          <h6>Initiated order(s)</h6>
      </div>
      <div style="width:30%;margin:12px" class="w3-col w3-card-2 w3-black w3-padding w3-center w3-mobile">
          <h1><%= todays_paid %></h1>
          <h6>Paid Order(s)</h6>
      </div>
    </div>

    <div class="w3-container">
      <h3>All Time</h3>
    </div>
    <div class="w3-row">
      <div style="width:30%;margin:12px" class="w3-col w3-card-2 w3-red w3-padding w3-center">
          <h1><%= users%></h1>
          <h6>Account(s) created</h6>
      </div>
      <div style="width:30%;margin:12px" class="w3-col w3-card-2 w3-pink w3-padding w3-center w3-mobile">
          <h1><%= invoices %></h1>
          <h6>Order(s) Initiated</h6>
      </div>
      <div style="width:30%;margin:12px" class="w3-col w3-card-2 w3-black w3-padding w3-center w3-mobile">
          <h1><%= paid_invoices%></h1>
          <h6>Paid Order(s)</h6>
      </div>
    </div>

    <div class="w3-row">
      <div style="width:30%;margin:12px" class="w3-col w3-card-2 w3-teal w3-padding w3-center">
          <h1><%= support %></h1>
          <h6>Report(s)</h6>
      </div>

      <div style="width:30%;margin:12px" class="w3-col w3-card-2 w3-teal w3-padding w3-center">
          <h1><%= sell %></h1>
          <h6>Wholesales</h6>
      </div>
    </div>



  </div>

</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".summernote").summernote();
  });
  $(".announcement-submit").click(function(){
    var announcement = $(".announcement").val();
    var data = {
      text: announcement
    }
    $.ajax({
      url: '/other/announcement',
      data: data,
      method: 'POST',
      success: function(result){
        alert(result);
        document.getElementById('id01').style.display='none';
      }
    });
  });
</script>
