<% include partials/header.ejs %>

<div class="w3-row w3-margin-top">
  <% include partials/navs.ejs %>
  <div style="width:80%" class="w3-padding w3-col w3-card-4 w3-mobile">

    <a class="w3-button button-color w3-round-xxlarge w3-text-white muli-bold" href="/han/orders/hubtel">HUBTEL</a>
    <a class="w3-button button-color w3-round-xxlarge w3-text-white muli-bold" href="/han/orders/ussd">USSD</a>
    <a class="w3-button button-color w3-round-xxlarge w3-text-white muli-bold" href="/han/orders/ipay">IPAY</a>

    <p class="w3-padding w3-margin-top w3-light-grey w3-leftbar w3-border-red">Please check with your eyes to know those who's deliveries are outside Accra !</p>

    <table style="margin-top:30px" class="w3-table-all w3-bordered">
      <tr>
        <th>Title</th>
        <th>Day</th>
        <th>Username</th>
        <th>Phone</th>
        <th>Categories</th>
        <th>Address</th>
        <th>City</th>
        <th>Region</th>
        <th>Number</th>
        <th>Delivery</th>
        <th>Option</th>
        <th>Status</th>
      </tr>

      <% orders.forEach(function(item){ %>
        <tr>
          <% if(item.dealTitle){ %>
            <td><%= item.dealTitle %></td>
          <% }else{ %>
            <td>Empty</td>
          <% } %>
          <% if(item.dealTime){ %>
            <td><%= item.dealTime %></td>
          <% }else{ %>
            <td>Empty</td>
          <% } %>
          <% if(item.username){ %>
            <td><%= item.username %></td>
          <% }else{ %>
            <td>Empty</td>
          <% } %>
          <% if(item.phone){ %>
            <td><%= item.phone %></td>
          <% }else{ %>
            <td>Empty</td>
          <% } %>
          <% if(item.categories){ %>
            <td><%= item.categories.split("-***-").join(" - ") %></td>
          <% }else{ %>
            <td>Empty</td>
          <% } %>
          <% if(item.address){ %>
            <td><%= item.address %></td>
          <% }else{ %>
            <td>Empty</td>
          <% } %>
          <% if(item.city){ %>
            <td><%= item.city %></td>
          <% }else{ %>
            <td>Empty</td>
          <% } %>
          <% if(item.region){ %>
            <td><%= item.region %></td>
          <% }else{ %>
            <td>Empty</td>
          <% } %>
          <td><%= item.item_ref.split("-")[0] %></td>
          <td>
          <% if(item.item_ref.split("-")[1] == '0'){ %>
            <%= '5days' %>
          <% }else if(item.item_ref.split("-")[1] == '1'){ %>
            <%= '24hrs' %>
          <% }else{ %>
            <%= 'Free' %>
          <% } %>
        </td>
          <td>
            <% if(item.type == '1'){ %>
              <%= 'HUBTEL' %>
            <% }else if(item.type == '2'){ %>
              <%= 'USSD' %>
            <% }else{ %>
              <%= 'IPAY' %>
            <% } %>
          </td>
          <td>
            <% if(item.paid == '0'){ %>
              <%- '<span class="w3-red w3-padding w3-round">Unpaid</span>' %>
            <% }else{ %>
              <%- '<span class="w3-green w3-padding w3-round">Paid</span>' %>
            <% } %>
          </td>
        </tr>
      <% }); %>

    </table>


  </div>

</div>
