<% include partials/header.ejs %>

<div class="w3-row w3-margin-top">
  <% include partials/navs.ejs %>
  <div style="width:80%" class="w3-padding w3-col w3-card-4 w3-mobile">

    <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom w3-round-xlarge">
      <div class="w3-container w3-padding">
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <h3>Reply</h3>
      <textarea class="w3-input w3-border" placeholder="Write your reply here!" rows="8" cols="80"></textarea>
        <button class="w3-teal w3-round w3-right w3-padding reply-submit" type="button" name="button">send <i class="fa fa-reply"></i> </button>
      </div>
    </div>
  </div>

<!--
    <a class="w3-button button-color w3-round-xxlarge w3-text-white muli-bold" href="/han/reports/purchase">Purchase</a>
    <a class="w3-button button-color w3-round-xxlarge w3-text-white muli-bold" href="/han/reports/site">Site Account</a>
    <a class="w3-button button-color w3-round-xxlarge w3-text-white muli-bold" href="/han/reports/account">Account</a>
    <a class="w3-button button-color w3-round-xxlarge w3-text-white muli-bold" href="/han/reports/blind-rage">Blind rage</a>
    <a class="w3-button button-color w3-round-xxlarge w3-text-white muli-bold" href="/han/reports/pure-bliss">Pure Bliss</a>
-->
    <% if(hasReports){ %>
      <table style="margin-top:30px" class="w3-table-all w3-bordered">
        <tr>
          <th>Email</th>
          <th>Phone</th>
          <th>Type</th>
          <th>Issue</th>
          <th>Action</th>
        </tr>
        <% reports.forEach(function(item){ %>
          <tr>
            <td><%= item.email %></td>
            <td><%= item.phone %></td>
            <td><%= item.type %></td>
            <td><%= item.issue %></td>
            <td><button onclick="document.getElementById('id01').style.display='block'" rel-data="<%= item.phone %>" class="w3-button reply-button w3-teal">Reply</button></td>
          </tr>
        <% }); %>
      </table>
    <% }else{ %>
      <h3>There are no reports available!</h3>
    <% } %>


  </div>

</div>

<script type="text/javascript">
  $(document).ready(function(){
    var phone;
    $(".reply-button").click(function(){
      phone = $(this).attr("rel-data");
    });
    $(".reply-submit").click(function(){
      var msg = $("textarea").val();
      var data = {
        phone: phone,
        msg: msg
      }
      $.ajax({
        url: '/other/support/reply',
        method: 'POST',
        data: data,
        success: function(res){
          $("textarea").val("");
          document.getElementById('id01').style.display='none';
          alert("message sent");
        }
      });
    });
  });
</script>
