
<div style="width:100%;background-color: rgba(0,0,0,0.2);color:#000;font-weight:bolder">
  <div class="w3-row page-wrap">
    <div style="padding-right:20px" class="w3-col left-lane">
      <h5 style="font-size:22px" class="muli-regular">Don't miss out</h5>
      <a href="https://bit.ly/FBdistin" ><i style="background-color:#3B5998;margin-bottom:5px;font-size:16px;width:50px;height:50px;text-align:center;line-height:50px" class="fa w3-circle w3-text-white fa-facebook"></i> <span class="muli-regular-bold w3-text-white">Like us on Facebook</span></a> <br>
      <a href="https://bit.ly/TwitaDistin" ><i style="background-color:#2f87d2;margin-bottom:5px;font-size:16px;width:50px;height:50px;text-align:center;line-height:50px" class="fa w3-circle w3-text-white fa-twitter"></i> <span class="muli-regular-bold w3-text-white">Follow us on Twitter</span></a> <br>
      <a href="https://bit.ly/InstaDistin" ><i style="background-color:#500f36;margin-bottom:50px;font-size:16px;width:50px;height:50px;text-align:center;line-height:50px" class="fa w3-circle w3-text-white fa-instagram"></i> <span class="muli-regular-bold w3-text-white">Follow us on Instagram</span></a>
    </div>
    <div style="padding-right:20px" class="w3-col middle-lane">
      <h5 style="font-size:22px" class="muli-regular" >Introduce a friend</h5>
      <p style="text-align:left;font-size:16px" class="muli-regular">Give a friend 100 points when you introduce them to onedistin and Get 100 points when they make their first purchase.</p>
      <% if(isAuthenticated){ %>
        <div id="myInput" style="font-size:16px;overflow-x:hidden" class="w3-text-blue-grey w3-sand w3-border w3-round">
          http://onedistin.com/signup?referer=<%= currentUser.refId %>
        </div>
          <button id="share" style="margin-bottom:10px;width:100%;" class="w3-button w3-center button-color w3-round-xxlarge w3-margin-top">
            <a href="whatsapp://send?text=Do you really wanna see the majic in prices. Create an account with this link on Onedistin and earn 20points. http://onedistin.herokuapp.com/signup?referer=<%= currentUser.refId %>" style="color:inherit" ><h3 style="margin:0;font-size:22px" class="muli-regular">Invite</h3></a>
          </button>
      <% }else{ %>
        Login to see your invite code
      <% } %>
    </div>
      <div style="padding-right:20px" class="w3-col right-lane">
  <% if(isAuthenticated){%>
    <% if(currentUser.survey == today){ %>
            <h5 style="font-size:22px" class="muli-regular"><%= survey.question %></h5>
            <% var total = (survey.ans_one_no*1) + (survey.ans_two_no*1) + (survey.ans_three_no*1) + (survey.ans_four_no*1) + (survey.ans_five_no*1) + (survey.ans_six_no*1); %>

            <% if(survey.ans_one){ %>
            <div style="position:relative" class="w3-row">
              <div class="w3-col w3-padding w3-blue" style="height:40px;overflow-x: hidden;margin-bottom:5px;width:<%= ((survey.ans_one_no*1)/total)*100 %>%">
                <div style="position:absolute;top:0;right:0;left:3%;bottom:0;line-height:40px;">
                <%= survey.ans_one+' - '+ (((survey.ans_one_no*1)/total)*100).toFixed(0)+'%' %>
              </div>
              </div>
            </div>
            <% } %>

            <% if(survey.ans_two){ %>
            <div style="position:relative" class="w3-row">
              <div class="w3-col w3-blue" style="height: 40px;margin-bottom:5px;width:<%= ((survey.ans_two_no*1)/total)*100 %>%">
                <div style="position:absolute;top:0;right:0;left:3%;bottom:0;line-height:40px;">
                  <%= survey.ans_two+' - '+(((survey.ans_two_no*1)/total)*100).toFixed(0)+'%' %>
                </div>

              </div>
            </div>
            <% } %>

            <% if(survey.ans_three){ %>
            <div style="position:relative" class="w3-row">
              <div class="w3-col w3-padding w3-blue" style="height:40px;overflow-x: hidden;margin-bottom:5px;width:<%= ((survey.ans_three_no*1)/total)*100 %>%">
                <div style="position:absolute;top:0;right:0;left:3%;bottom:0;line-height:40px;">
                <%= survey.ans_three+' - '+(((survey.ans_three_no*1)/total)*100).toFixed(0)+'%' %>
              </div>
              </div>
            </div>

            <% } %>

            <% if(survey.ans_four){ %>
            <div style="position:relative" class="w3-row">
              <div class="w3-col w3-padding w3-blue" style="height:40px;overflow-x: hidden;margin-bottom:5px;width:<%= ((survey.ans_four_no*1)/total)*100 %>%">
                <div style="position:absolute;top:0;right:0;left:3%;bottom:0;line-height:40px;">
                <%= survey.ans_four+' - '+(((survey.ans_four_no*1)/total)*100).toFixed(0)+'%' %>
              </div>
              </div>
            </div>

            <% } %>

            <% if(survey.ans_five){ %>
            <div style="position:relative" class="w3-row">
              <div class="w3-col w3-padding w3-blue" style="height:40px;overflow-x: hidden;margin-bottom:5px;width:<%= ((survey.ans_five_no*1)/total)*100 %>%">
                <div style="position:absolute;top:0;right:0;left:3%;bottom:0;line-height:40px;">
                <%= survey.ans_five+' - '+(((survey.ans_five_no*1)/total)*100).toFixed(0)+'%' %>
              </div>
              </div>
            </div>

            <% } %>

            <% if(survey.ans_six){ %>
            <div style="position:relative" class="w3-row">
              <div class="w3-col w3-padding w3-blue" style="height:40px;overflow-x: hidden;margin-bottom:5px;width:<%= ((survey.ans_five_no*1)/total)*100 %>%;">
                <div style="position:absolute;top:0;right:0;left:3%;bottom:0;line-height:40px;">
                <%= survey.ans_six+' - '+(((survey.ans_six_no*1)/total)*100).toFixed(0)+'%' %>
              </div>
              </div>
            </div>

            <% } %>

    <% }else{ %>
      <span id="survey">
        <h5 style="font-size:22px" class="muli-regular"><%= survey.question %></h5>
        <% if(survey.ans_one){ %>
          <input class="w3-margin-bottom w3-xxlarge" type="radio" name="survey" value="one"> <span style="overflow-x:hidden;font-size:16px" class="muli-regular"><%= survey.ans_one %></span> <br>
        <% } %>
        <% if(survey.ans_two){ %>
          <input class="w3-margin-bottom w3-xxlarge" type="radio" name="survey" value="two"> <span style="overflow-x:hidden;font-size:16px" class="muli-regular"><%= survey.ans_two %></span> <br>
        <% } %>
        <% if(survey.ans_three){ %>
          <input class="w3-margin-bottom w3-xxlarge" type="radio" name="survey" value="three"> <span style="overflow-x:hidden;font-size:16px" class="muli-regular"><%= survey.ans_three %></span> <br>
        <% } %>
        <% if(survey.ans_four){ %>
          <input class="w3-margin-bottom w3-xxlarge" type="radio" name="survey" value="four"> <span style="overflow-x:hidden;font-size:16px" class="muli-regular"><%= survey.ans_four %></span> <br>
        <% } %>
        <% if(survey.ans_five){ %>
          <input class="w3-margin-bottom w3-xxlarge" type="radio" name="survey" value="five"> <span style="overflow-x:hidden;font-size:16px" class="muli-regular"><%= survey.ans_five %></span> <br>
        <% } %>
        <% if(survey.ans_six){ %>
          <input class="w3-margin-bottom w3-xxlarge" type="radio" name="survey" value="six"> <span style="overflow-x:hidden;font-size:16px" class="muli-regular"><%= survey.ans_six %></span> <br>
        <% } %>
        <button style="margin-bottom:10px;padding: auto 90px" class="submit-survey w3-button w3-round-xxlarge w3-margin-top button-color" type="submit" name="button"><p class="custom-txt-color" style="margin:0;font-size:22px" class="muli-regular"> Vote </p></button>
      </span>
    <% } %>

  <% }else{ %>
    <span id="survey">
      <h5 style="font-size:22px" class="muli-regular"><%= survey.question %></h5>
      <% if(survey.ans_one){ %>
        <input class="w3-margin-bottom w3-xxlarge" type="radio" name="survey" value="one"> <span style="word-break:break-all;font-size:16px" class="muli-regular"><%= survey.ans_one %></span> <br>
      <% } %>
      <% if(survey.ans_two){ %>
        <input class="w3-margin-bottom w3-xxlarge" type="radio" name="survey" value="two"> <span style="word-break:break-all;font-size:16px" class="muli-regular"><%= survey.ans_two %></span> <br>
      <% } %>
      <% if(survey.ans_three){ %>
        <input class="w3-margin-bottom w3-xxlarge" type="radio" name="survey" value="three"> <span style="word-break:break-all;font-size:16px" class="muli-regular"><%= survey.ans_three %></span> <br>
      <% } %>
      <% if(survey.ans_four){ %>
        <input class="w3-margin-bottom w3-xxlarge" type="radio" name="survey" value="four"> <span style="word-break:break-all;font-size:16px" class="muli-regular"><%= survey.ans_four %></span> <br>
      <% } %>
      <% if(survey.ans_five){ %>
        <input class="w3-margin-bottom w3-xxlarge" type="radio" name="survey" value="five"> <span style="word-break:break-all;font-size:16px" class="muli-regular"><%= survey.ans_five %></span> <br>
      <% } %>
      <% if(survey.ans_six){ %>
        <input class="w3-margin-bottom w3-xxlarge" type="radio" name="survey" value="six"> <span style="word-break:break-all;font-size:16px" class="muli-regular"><%= survey.ans_six %></span> <br>
      <% } %>
      <button style="margin-bottom:10px;padding: auto 90px" class="submit-survey w3-button w3-round-xxlarge w3-margin-top button-color" type="submit" name="button"><p class="custom-txt-color" style="margin:0;font-size:22px" class="muli-regular"> Vote </p></button>
    </span>
  <% } %>
    </div>
  </div>
</div>
