x<% include partials/header.ejs %>
<style media="screen">
  body {
    background: #e9ebee;
  }
</style>
    <div class="w3-row w3-margin-top">
      <div style="color: #a9a9a9" class="w3-quarter w3-container">
        .
      </div>
      <div style="margin-bottom:150px" class="w3-half w3-center w3-center w3-white w3-border w3-card-4 w3-mobile w3-container w3-animate-bottom">
        <h3 style="text-align:left"><b>Here's what you are getting</b></h3>
        <span class="checkout-items">
        <div class="checkout-item-bar w3-panel w3-border w3-round w3-padding-16">
          <img class="w3-left" src="http://via.placeholder.com/50x50" alt="">
          <p style="margin:0;text-align:center"><%= dealData.title %>
            <br> GHS <%= dealData.price %></p>
        </div>
        </span>
        <a class="add-item-bar w3-button w3-round-large w3-teal" href="#">Wanna add more</a>
        <h3 style="text-align:left"><b>Where should we deliver the stuff?</b></h3>
        <div class="shipping-address">
          <dl>
            <dt> <label>Name</label> </dt>
            <dd> <input type="text" name="" value="<%= userData.user_name %>"> </dd>
            <dt> <label>Address</label> </dt>
            <dd> <input type="text" name="" value=""> </dd>
            <dt> <label>City</label> </dt>
            <dd> <input type="text" name="" value="<%= userData.user_loc %>"> </dd>
            <dt> <label>Region</label> </dt>
            <dd> <input type="text" name="" value=""> </dd>
            <dt> <label>Phone</label> </dt>
            <dd> <input type="text" name="" value="<%= userData.user_phone%>"> </dd>
          </dl>
        </div>
        <h3 style="text-align:left"><b>Delivery fee:</b></h3>
        <table>
          <tr>
            <td><input id="low" type="radio" name="fee" value="" checked> GHS 5 - <span class="w3-opacity">Delivery within 5 working days</span></td>
          </tr>
          <tr>
            <td><input id="high" type="radio" name="fee" value=""> GHS 10 - <span class="w3-opacity">Delivery within 24Hrs</span></td>
          </tr>
        </table>
        <br>
        <a style="cursor: pointer" class="show-coupon">Got a coupon code? <i class="fa fa-angle-down"></i> </a>
        <br>
        <input style="display:none" class="w3-round w3-border coupon-box" type="text" name="" value="">

        <h3 style="text-align:left"><b>Summary</b></h3>
        <table class="w3-table w3-striped w3-border">
          <tr>
            <td><%= dealData.title %></td>
            <td class="item-num">1</td>
            <td class="item-price">GHS <%= dealData.price %></td>
          </tr>
          <tr>
            <td>Delivery</td>
            <td></td>
            <td class="item-delivery">GHS 5.00</td>
          </tr>
          <tr>
            <td>Total</td>
            <td></td>
            <td class="item-total">GHS <%= (dealData.price*1) + 5%></td>
          </tr>
        </table>
        <form method="POST" action="https://community.ipaygh.com/gateway">
          <input type="hidden" name="merchant_key" value="tk_965c30c0-a0b4-11e8-af31-f23c9170642f" />
          <input type="hidden" name="success_url" value="http://localhost:8080/checkout" />
          <input type="hidden" name="cancelled_url" value="http://localhost:8080/profile" />
          <input type="hidden" name="deferred_url" value="http://localhost:8080" />
          <input type="hidden" name="invoice_id" value="<%= token %>" />
          <input type="hidden" name="total" value="<%= (dealData.price*1) + 5%>" />
          <input style="margin-bottom:10px" class="w3-button w3-blue w3-round-xlarge w3-margin-top" type="submit" value="Checkout" />
        </form>

      </div>
      <div class="w3-quarter w3-bold w3-container">

      </div>
    </div>

<script type="text/javascript">
  $(document).ready(function(){
    var num = 1;
    var delivery = 5;
    var deal_price = <%= dealData.price %> * 1;
    function total(){
      total_price = ((num*deal_price)+delivery).toFixed(2);
      $(".item-total").text("GHS "+total_price);
      $("input[name='total']").val(total_price);
    }
    total();
    $(".add-item-bar").click(function(){
      if(num < 3){
        num++;
        $(".checkout-items").append('<div class="checkout-item-bar w3-animate-left w3-panel w3-border w3-round w3-padding-16"><span class="item-bar-close w3-tag w3-red w3-right">x</span><img class="w3-left" src="http://via.placeholder.com/50x50" alt=""><p style="margin:0;text-align:center"><%= dealData.title %><br> GHS <%= dealData.price %></p></div>');
        $(".item-num").text(num);
        var new_price = deal_price * num;
        $(".item-price").text("GHS "+new_price.toFixed(2));
        if($("#low").prop("checked")){
          $(".item-delivery").text("GHS 5.00");
          delivery = 5;
        }else{
          $(".item-delivery").text("GHS 10.00");
          delivery = 10;
        }
        total();
      }else{
        alert("You can order a maximum of 3!");
      }

    });
    $("#low").click(function(){
      $(".item-delivery").text("GHS 5.00");
      delivery = 5;
      total();
    });
    $("#high").click(function(){
      $(".item-delivery").text("GHS 10.00");
      delivery = 10;
      total();
    });

    $(".show-coupon").click(function(){
      $(".coupon-box").show();
    });


  });
</script>

  </body>
</html>
