x<% include partials/header.ejs %>
<style media="screen">
  body {
    background: #a9a9a9;
  }
</style>
    <div class="w3-row w3-margin-top">
      <div style="color: #a9a9a9" class="w3-quarter w3-container">
        .
      </div>
      <div style="margin-bottom:150px" class="w3-half w3-center w3-center w3-white w3-border w3-card-4 w3-mobile w3-container w3-animate-bottom">
        <div class="checkout-item-bar w3-panel w3-border w3-padding-16">
          <img class="w3-left" src="http://via.placeholder.com/50x50" alt="">
          <p style="margin:0;text-align:center"><%= dealData.title %>
            <br> GHS <%= dealData.price %></p>
        </div>
        <a class="add-item-bar w3-button w3-round-large w3-teal" href="#">Wanna add more</a>
        <p style="text-align:left">Where should we deliver the stuff?</p>
        <div class="shipping-address">
          <dl>
            <dt> <label>Name</label> </dt>
            <dd> <input type="text" name="" value="<%= userData.user_name %>"> </dd>
            <dt> <label>Address</label> </dt>
            <dd> <input type="text" name="" value=""> </dd>
            <dt> <label>City</label> </dt>
            <dd> <input type="text" name="" value="<%= userData.user_loc %>"> </dd>
            <dt> <label>Region</label> </dt>
            <dd> <input type="text" name="" value=""> </dd>
            <dt> <label>Phone</label> </dt>
            <dd> <input type="text" name="" value="<%= userData.user_phone%>"> </dd>
          </dl>
        </div>
        <p style="text-align:left">Delivery fee:</p>
        <table>
          <tr>
            <td><input type="radio" name="fee" value="" checked> GHS 5 - <span class="w3-opacity">Delivery within 5 working days</span></td>
          </tr>
          <tr>
            <td><input type="radio" name="fee" value=""> GHS 10 - <span class="w3-opacity">Delivery within 24Hrs</span></td>
          </tr>
        </table>
        <br>
        <a href="#">Got a coupon code? <i class="fa fa-angle-down"></i> </a>

        <p style="text-align:left">Summary</p>
        <table class="w3-table w3-striped w3-border">
          <tr>
            <td><%= dealData.title %></td>
            <td>1</td>
            <td>GHS 20</td>
          </tr>
          <tr>
            <td>Delivery</td>
            <td></td>
            <td>5</td>
          </tr>
          <tr>
            <td>Total</td>
            <td></td>
            <td>GHS 20</td>
          </tr>
        </table>

        <a style="margin-bottom:10px" href="#" class="w3-button w3-blue w3-round-xlarge w3-margin-top">Checkout</a>

      </div>
      <div class="w3-quarter w3-bold w3-container">

      </div>
    </div>

<script type="text/javascript">

</script>

  </body>
</html>
