<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126294820-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-126294820-1');
</script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '1482111765221792');
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1"
src="https://www.facebook.com/tr?id=1482111765221792&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

<!-- Hotjar Tracking Code for www.onedistin.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1015846,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onedistin - Great Deals Everyday at 12:00 midnight.</title>
    <meta name="description" content="Ghana’s 1st daily deal company made for the #bargainHunter.  Get big discounts direct from top brands and manufacturers on one product every 24 hours. Prices Reduced | 100% authentic products | Fast nationwide delivery | Best bargains on electronics, phones, books, fashion, Beauty Products. Unlike Jumia, Tonaton, olx, and kikuu, we don’t offer a huge selection of products at once. It is one product, every 24 hours at the best prices in Ghana. ">
    <link rel="canonical" href="https://www.onedistin.com">
    <link rel="alternate" href="x-default">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

    <meta property="og:url"           content="https://www.onedistin.com" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Deal of the day | Onedistin" />
    <meta property="og:description"   content="<%= currentPost.price %> <%= currentPost.description %>" />
    <meta property="og:image"         content="<%= img[1] %>" />

    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/f1c7226a1d6725eb641a7cea7/97bdaea85ee41431bcbd0eb67.js");</script>

    <script type="text/javascript">
    var html = document.getElementsByTagName('html')[0];
    html.style.cssText = "--custom-color: <%= currentPost.bg_color %>;";
    var fontColor = "<%= currentPost.bg_color %>";

    // remove hash character from string
    var rawFontColor = fontColor.substring(1,fontColor.length);

    // convert hex string to int
    var rgb = parseInt(rawFontColor, 16);

    /*if (brightness < 0.5) {
       // use a bright background
       alert("color is bright");
    } else {
       // use a dark background
       alert("color is dark");
    }*/
    </script>

    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  </head>
  <body style="position:relative">
<% include partials/header.ejs %>

<% if(isAuthenticated){ %>
  <input class="acpoit" type="hidden" value="<%= offers.offer_one+offers.offer_two+offers.offer_three%>-<%= currentPost.ac_price %>" />
<% } %>

<!--<div style="position:absolute;top:12%;left:0;right:0;z-index:-1;opacity:0.3">
  <img style="width:100%" src="img/nice4.jpg" alt="">
</div>-->
    <div class="w3-row page-wrap">
      <div class="w3-col left-lane">

            <section class="item-hero">
              <div style="background: url('<%= img[0] %>')no-repeat;" id="hero-background"></div>
            </section>
          <div class="slideshow-container">
            <% img.forEach(function(item,index){ %>
              <% if(index > 0){ %>
                <div class="mySlides fade">
                  <img class="w3-center" onclick="currentSlide(<%= index+1 %>)" src="<%= item %>" style="width:100%;height:300px">
                </div>
              <% } %>
            <% }); %>
          </div>

          <div style="text-align:center">
          <% img.forEach(function(item,index){ %>
            <% if(index != 0){ %>
            <span class="dot" onclick="currentSlide(<%= index %>)"></span>
            <% } %>
          <% }); %>
          </div>

          <div style="margin-bottom:8px" id="price-comparison">
            <a class="w3-text-indigo w3-text-black muli-regular" style="font-size: 14px" href="<%- currentPost.shoppy_link %>"><%= currentPost.shoppy_txt %></a>
          </div>
          <div style="height:59px;" class="buy w3-row">
            <% if(isAuthenticated){ %>
              <button onclick="checkout_btn_press()" style="width:78%;height: 59px; padding: 5px 0px" class="w3-col w3-button w3-round-xxlarge button-color">
                <span style="text-align:center;font-size:24px;line-height:28px" class="custom-txt-color muli-semi-bold"><b><%= currentPost.price %></b></span>
                 <br>
                <span style="font-size:16px;line-height:16px" class="custom-txt-color w3-medium muli-regular">BUY DISTIN</span>
              </button>
            <% }else{ %>
              <a href="/login" style="width:78%;height: 59px; padding: 5px 0px" class="w3-col w3-button w3-round-xxlarge muli button-color">
                <span style="text-align:center;font-size:24px;line-height:28px" class="custom-txt-color muli-semi-bold"><b><%= currentPost.price %></b></span>
                 <br>
                <span style="font-size:16px;line-height:16px" class="custom-txt-color w3-medium muli-regular">BUY DISTIN</span>
              </a>
            <% } %>

            <span id="share_btn" style="font-size: 18px;cursor:pointer;position:relative;height: 59px;width:59px;line-height:59px;text-align:center" class="custom-txt-color w3-col-rest w3-right w3-circle muli-regular button-color" href="#">Share
            <div id="share_btns" style="cursor:pointer;position:absolute;left:50px;top:-120%;color:#fff;display:none;padding:16px;height:auto">
              <% if(isAuthenticated){ %>
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.onedistin.com%2F&amp;src=sdkpreparse"><i style="margin-bottom:5px;font-size:30px;width:50px;height:50px;text-align:center;line-height:50px" class="share_btn facebook fa w3-circle fa-facebook"></i></a>
                <a target="_blank" href="https://twitter.com/intent/tweet?text= <%= currentPost.share_txt %> http://onedistin.com/signup"><i style="margin-bottom:5px;font-size:30px;width:50px;height:50px;text-align:center;line-height:50px" class="share_btn twitter fa w3-circle fa-twitter"></i></a>
                <a href="whatsapp://send?text=<%= currentPost.share_txt %> http://onedistin.com/signup" data-action="share/whatsapp/share"><i style="margin-bottom:50px;font-size:30px;width:50px;height:50px;text-align:center;line-height:50px" class="share_btn instagram fa w3-circle fa-whatsapp"></i></a>
              <% }else{ %>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.onedistin.com%2F&amp;src=sdkpreparse"><i style="margin-bottom:5px;font-size:30px;width:50px;height:50px;text-align:center;line-height:50px" class="share_btn facebook fa w3-circle fa-facebook"></i></a>
                <a href="https://twitter.com/intent/tweet?text= <%= currentPost.share_txt %> onedistin.com"><i style="margin-bottom:5px;font-size:30px;width:50px;height:50px;text-align:center;line-height:50px" class="share_btn twitter fa w3-circle fa-twitter"></i></a>
                <a href="whatsapp://send?text=<%= currentPost.share_txt %> onedistin.com" data-action="share/whatsapp/share"><i style="margin-bottom:50px;font-size:30px;width:50px;height:50px;text-align:center;line-height:50px" class="share_btn instagram fa w3-circle fa-whatsapp"></i></a>
              <% } %>

            </div>
          </span>
          </div>
          <h3 style="text-align:left;font-size:22px;margin-bottom:0" class="muli-regular"><%= currentPost.title %></h3>
          <div style="margin-top:-10px"class="w3-left thing-get">
            <%- currentPost.thingGet %>
          </div>
      </div>
      <div class="w3-col middle-lane w3-left w3-mobile w3-container" style="margin:0!important">
        <span style="text-align:left;word-break:break-word"><%- currentPost.writeup %></span>
      </div>
      <div class="w3-col right-lane w3-mobile" style="margin:0!important">
          <iframe id="ytplayer" type="text/html" width="100%" height="300"
            src="https://www.youtube.com/embed/<%= currentPost.video %>"
            frameborder="0"></iframe>
            <p style="margin:0 auto;text-align:left">Our daily video</p>
            <% if(announcement != false){ %>
              <a href="/community/<%= announcement.url %>">
              <div style="margin-bottom: 20px;padding:5px" class="w3-container w3-border w3-border-black w3-round-large">
                <div style="float: left">
                  <img class="w3-quater" src="img/announcement.svg" style="width:40px" alt="">
                </div>
                <div class="w3-margin-left" style="width:80%;float: left">
                  <span style="font-weight:bold" class=" w3-rest w3-text-grey" >Announcement</span> <br> <span class="ann"> <%- announcement.title %> </span>
                </div>

              </div>
              </a>
            <% } %>


          <ul style="width:100%" class="w3-ul w3-margin-top">
            <a class="w3-left" style="width:100%" href="/community/<%= topPost.post_url %>"><li style="padding-left:0;width:inherit">
              <img style="width:50px;height:50px" class="w3-left" src="/img/shopping_bag.png" alt="">
                <span style="word-break:break-word"><%= topPost.post_title %></span>
                <i class="fa fa-heart"> <%= topPost.post_likes %> </i>
                <i class="fa fa-comment"> <%= topPost.post_comments %> </i>
            </li></a>
            <% forumPosts.forEach(function(item){ %>
              <a class="w3-left" style="width:100%" href="/community/<%= item.post_url %>"><li style="padding-left:0;width:inherit">
                <img style="width:50px;height:50px" class="w3-circle w3-left" src="https://source.unsplash.com/50x50/?<%= item.post_title.split(' ').join(',') %>" alt="">
                  <span style="word-break:break-word"><%= item.post_title %></span>
                  <i class="fa fa-heart"> <%= item.post_likes %> </i>
                  <i class="fa fa-comment"> <%= item.post_comments %> </i>
              </li></a>
            <% }); %>
          </ul>
          <a href="/community"><button style="margin-bottom:10px;width:100%;" class="w3-button w3-round-xxlarge w3-margin-top button-color" type="submit" name="button"><h5 class="custom-txt-color muli-regular" style="margin:0;font-size:22px;line-height:33px">Checkout the community <i class="fa fa-angle-right"></i> </h5></button></a>
      </div>
    </div>

    <% include partials/footer.ejs %>






    <% if(isAuthenticated){ %>
      <!-- ######### THIS IS BEGINING OF THE CHECKOUT MODAL ######## -->

        <div id="id01" class="w3-modal">

            <div class="w3-container">
              <div style="padding:32px 48px" class="w3-modal-content w3-center w3-white w3-border w3-card-4 w3-mobile w3-container w3-animate-bottom">
                <span onclick="document.getElementById('id01').style.display='none'"
                class="w3-button w3-xlarge w3-text-red w3-display-topright">&times;</span>
                <form action="/payment" method="POST">
                <h3 style="text-align:left;font-size:22px;line-height:22px;" class="muli-semi-bold">Here's what you are getting:</h3>
                <span class="checkout-items">
                  <span class="single-item">
                <div style="padding:0;" class="checkout-item-bar w3-panel w3-row w3-border w3-round">
                  <span class="w3-button reduce-item w3-right w3-red w3-xlarge w3-text-white">&times;</span>
                  <img style="width:100px;height:100px;margin-right:10px" class="w3-left w3-col" style="margin-right:10px;" src="<%= img[1] %>" alt="">
                  <div style="width:65%;" class="w3-col">
                    <h4 style="margin-bottom:0;text-align:left;"><b><%= currentPost.title %></b></h4>
                    <p style="text-align:left;font-weight:bold" class="cat_price_single text-color-inverse">GHS <%= currentPost.ac_price %></p>
                  </div>

                  <% if(currentPost.categories){ %>
                    <% currentPost.categories.forEach(function(item,p_index){ %>
                      <div style="width:100%;border-top:1px solid #cccccc;" class="w3-col w3-padding">
                        <span class="w3-left w3-xlarge"><%= item[0] %></span>
                        <select class="w3-right w3-xlarge" name="category">
                          <% var price_team = currentPost.cat_prices[p_index] %>
                            <% item.forEach(function(i,index){ %>
                              <% if(index > 0 && index < item.length-1){ %>
                                <option rel-data="<%= price_team[index] %>" value="<%= i %>"><%= i %></option>
                              <% }%>

                            <% }); %>
                        </select>
                      </div>
                    <% }); %>
                  <% } %>



                </div>
                </span>
                </span>
                <a style="width:100%;" class="add-item-bar w3-button w3-round-xxlarge w3-border linky-button" href="#"><h3 style="margin:0;font-size:22px;line-height:46px">Wanna add another?</h3></a>
                <h3 style="text-align:left;font-size:22px;line-height:22px;" class="muli-semi-bold">Where should we deliver distin?</h3>
                <div class="shipping-address">
                  <dl>
                    <dt> <label>Fullname</label> </dt>
                    <dd> <input type="text" name="user_name" value="<%= currentUser.user_name %>" required> </dd>
                    <dt> <label>Address</label> </dt>
                    <dd> <input type="text" name="user_address" value="<%= currentUser.user_address%>" required> </dd>
                    <dt> <label>City</label> </dt>
                    <dd> <input type="text" name="user_city" value="<%= currentUser.user_city %>" required> </dd>
                    <dt> <label>Region</label> </dt>
                    <dd> <select name="user_region">
                      <option value="<%= currentUser.user_loc %>"><%= currentUser.user_loc %></option>
                      <option value="Ashanti">Ashanti</option>
                      <option value="Brong Ahafo">Brong Ahafo</option>
                      <option value="Central">Central</option>
                      <option value="Eastern">Eastern</option>
                      <option value="Greater Accra">Greater Accra</option>
                      <option value="Northern">Northern</option>
                      <option value="Upper East">Upper East</option>
                      <option value="Upper West">Upper West</option>
                      <option value="Volta">Volta</option>
                      <option value="Western">Western</option>
                    </select> </dd>
                    <dt> <label>Phone</label> </dt>
                    <dd> <input type="text" name="user_phone" value="<%= currentUser.user_phone %>" required> </dd>
                  </dl>
                </div>
              <span class="f_delivery">
                <% if(offers.offer_one == 1){ %>
                  <p>Your delivery is free</p>
                <% }else{ %>
                  <h3 style="text-align:left;font-size:22px;line-height:22px;" class="muli-semi-bold">Delivery fee:</h3>
                  <% if(currentUser.user_loc !== "Greater Accra"){ %>
                    <table id="del_table01">
                      <tr>
                        <td style="text-align:left"> <b>GHS 10</b> - <span class="w3-opacity">Delivery within 5 working days</span></td>
                      </tr>
                      <tr>
                        <td><p style="text-align:left" class="w3-text-red">DELIVERY WILL BE MADE TO AN STC OR VIP STATION NEAR YOU.</p></td>
                      </tr>
                    </table>


                    <table id="del_table02" style="display:none">
                      <tr>
                        <td><input id="low" type="radio" name="fee" checked> <b>GHS 5</b> - <span class="w3-opacity">Delivery within 5 working days</span></td>
                      </tr>
                      <tr>
                        <td style="text-align:left"><input id="high" type="radio" name="fee"> <b>GHS 10</b> - <span class="w3-opacity">Delivery within 24 working hours</span></td>
                      </tr>
                    </table>
                  <% }else{ %>
                    <table id="del_table01" style="display:none">
                      <tr>
                        <td style="text-align:left"> <b>GHS 10</b> - <span class="w3-opacity">Delivery within 5 working days</span></td>
                      </tr>
                      <tr>
                        <td><p style="text-align:left" class="w3-text-red">DELIVERY WILL BE MADE TO AN STC OR VIP STATION NEAR YOU.</p></td>
                      </tr>
                    </table>


                    <table id="del_table02">
                      <tr>
                        <td><input id="low" type="radio" name="fee" checked> <b>GHS 5</b> - <span class="w3-opacity">Delivery within 5 working days</span></td>
                      </tr>
                      <tr>
                        <td style="text-align:left"><input id="high" type="radio" name="fee"> <b>GHS 10</b> - <span class="w3-opacity">Delivery within 24Hrs</span></td>
                      </tr>
                    </table>
                  <% } %>

                <% } %>
              </span>
                <br>
                <a style="cursor: pointer;text-align:left" class="show-coupon"><h3 style="font-size: 22px;line-height:22px">Got a coupon code? <i class="fa fa-angle-down"></i> </h3></a>
                <div style="display: none" class="w3-row coupon-box">
                  <input style="height:55px" class="w3-round w3-twothird w3-border coupon-input" type="text" name="" placeholder="Enter your coupon">
                  <button style="width:30%;height:55px" type="button" class="w3-button w3-third w3-black apply-coupon" name="button">Apply</button>
                  <p class="w3-text-red coupon-error"></p>
                </div>

                <h3 style="text-align:left;font-size:22px;line-height:22px;" class="muli-semi-bold">Finally! Want this right?</h3>
                <dl class="straight">
                  <dd class="item-pricing"> <label><%= currentPost.title %></label> <span class="price text-color-inverse"><span class="pprice text-color-inverse">GHS <%= currentPost.ac_price %> for 1</span></span> </dd>
                  <dd> <label>Delivery fee</label>
                    <% if(offers.offer_one == 1){ %>
                      <span class="w3-tag w3-green price">free delivery</span>
                    <% }else{ %>
                      <span class="delivery-fee price text-color-inverse">GHS 5.0</span>
                    <% } %>
                  </dd>
                  <dd> <label>Total</label> <span class="price text-color-inverse">
                    <% if(offers.offer_three == 1){ %>
                      <span class="w3-tag w3-green">10% off</span>
                    <% } %>
                    <% if(offers.offer_two == 1){ %>
                      <span class="w3-tag w3-green">5% off</span>
                    <% } %>
                    <span class="w3-tag coupon-tag w3-green"></span>
                    <span class="total_price text-color-inverse">GHS 45.70</span></span> </dd>
                </dl>
                <input type="hidden" class="payment_details" name="item_no">
                <span class="error"></span>
                <button onclick="validate()" style="margin-bottom:10px;width:100%;" class="w3-button button-color-inverse w3-round-xxlarge w3-margin-top" type="button" name="button"><h3 style="margin:0;font-size: 22px;line-height:46px">Yes! Can't wait!</h3></button>

                <div id="id02" class="w3-modal">
                  <div class="w3-modal-content w3-animate-zoom" style="padding:32px 48px">
                    <div class="w3-container">
                      <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                      <h1>Payment Options</h1>
                      <!--<button style="margin-bottom:10px;width:100%;" class="w3-button button-color w3-text-white w3-round-xxlarge w3-margin-top" type="submit" name="hubtel" value="on"><h3 style="margin:0;font-size: 22px;line-height:46px">Option 1</h3></button>-->
                      <button style="margin-bottom:10px;width:100%;" class="w3-button button-color w3-text-white w3-round-xxlarge w3-margin-top" type="submit" name="ussd" value="on"><h3 style="margin:0;font-size: 22px;line-height:46px">Option 1</h3></button>
                      <button style="margin-bottom:10px;width:100%;" class="w3-button button-color w3-text-white w3-round-xxlarge w3-margin-top" type="submit" name="ipay" value="on"><h3 style="margin:0;font-size: 22px;line-height:46px">Option 2</h3></button>
                    </div>
                  </div>
                </div>
              </form>
              </div>
            </div>
        </div>
     <% }else{ %>

    <% } %>

</div>
<script src="/js/checkout.js"></script>
<script src="/js/survey.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  var on = false;
  $("#share_btn").click(function(){
    if(on == false){
      $("#share_btns").stop().show(400);
      on = true;
    }else{
      $("#share_btns").stop().hide(400);
      on = false;
    }

  });
  $("#share_btn").mouseleave(function(){
      $("#share_btns").stop().hide(400);
  });
});
// This is the code to redirect checkout to another link on mobile view!
function checkout_btn_press() {
  if (screen.width <= 699) {
  document.location = "/checkout";
  }else{
    document.getElementById('id01').style.display='block';
  }
}


// This is the code for the image slider
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
showSlides(slideIndex += n);
}

function currentSlide(n) {
showSlides(slideIndex = n);
}
setInterval(function(){
  showSlides(slideIndex += 1);
},5000);
function showSlides(n) {
var i;
var slides = document.getElementsByClassName("mySlides");
var dots = document.getElementsByClassName("dot");
if (n > slides.length) {slideIndex = 1}
if (n < 1) {slideIndex = slides.length}
for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
}
for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
}
slides[slideIndex-1].style.display = "block";
dots[slideIndex-1].className += " active";
}
</script>
  </body>
</html>
