<% include partials/header.ejs %>
<style media="screen">
  body {
    /*background: #fff/*var(--main-color)*/
    color: black;
  }
</style>
<!--<div style="position:absolute;top:12%;left:0;right:0;z-index:-1;opacity:0.3">
  <img style="width:100%" src="img/nice4.jpg" alt="">
</div>-->
    <div class="w3-row w3-center">
      <div class="w3-col left-lane w3-center w3-mobile w3-container">
        <div class="w3-col left-lane-mini w3-right w3-animate-left">
            <section class="item-hero">
              <div id="hero-background"></div>
            </section>
          <div class="slideshow-container">

          <div class="mySlides fade">
            <img src="img/nice1.jpg" style="width:300px;height:300px">
          </div>


          <div class="mySlides fade">
            <img src="img/nice2.jpg" style="width:300px;height:300px">
          </div>

          <div class="mySlides fade">
            <img src="img/nice3.jpg" style="width:300px;height:300px">
          </div>
          <div class="mySlides fade">
            <img src="img/nice4.jpg" style="width:300px;height:300px">
          </div>


          </div>
          <br>

          <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
          </div>

          <div id="price-comparison">
            <%- currentPost.comparison %>
          </div>
          <div class="buy">
            <a style="padding: 10px 60px" class="w3-button w3-black w3-round-xxlarge" href="/checkout">
              <span class="w3-large"><b>GHS <%= currentPost.price %></b></span>
               <br>
              <span class="w3-medium">Get Distin</span>
              </a>
          </div>
          <ul class="w3-left-align">
            <% thingGet.forEach(function(item){ %>
              <li><%= item %></li>
            <% });%>
          </ul>
        </div>
      </div>
      <div class="w3-col middle-lane w3-left w3-mobile w3-container w3-animate-bottom">
        <span class=""><%- currentPost.writeup %></span>
      </div>
      <div class="w3-col right-lane w3-mobile w3-container w3-animate-right">
        <div class="w3-col right-lane-mini">
          <iframe id="ytplayer" type="text/html" width="300" height="168"
  src="<%= currentPost.video %>"
  frameborder="0"></iframe>
          <ul class="w3-ul w3-margin-top">
            <% forumPosts.forEach(function(item){ %>
              <a class="w3-left w3-container" href="/forum/<%= item.post_url %>"><li class="w3-padding" >
                <img class="w3-circle" src="http://via.placeholder.com/50x50" alt="">
                <%= item.post_title %>
              </li></a>
            <% }); %>
          </ul>
        </div>
      </div>
    </div>
<script type="text/javascript">
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
showSlides(slideIndex += n);
}

function currentSlide(n) {
showSlides(slideIndex = n);
}

function showSlides(n) {
var i;
var slides = document.getElementsByClassName("mySlides");
var dots = document.getElementsByClassName("dot");
if (n > slides.length) {slideIndex = 1}
if (n < 1) {slideIndex = slides.length}
for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
}
for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
}
slides[slideIndex-1].style.display = "block";
dots[slideIndex-1].className += " active";
}
</script>
</script>
  </body>
</html>
