<% include partials/header.ejs %>
<script type="text/javascript">
var html = document.getElementsByTagName('html')[0];
html.style.cssText = "--custom-color: <%= currentPost.bg_color %>;";
</script>
<% if(isAuthenticated){ %>
  <input class="acpoit" type="hidden" value="<%= offers.offer_one+offers.offer_two+offers.offer_three%>-<%= currentPost.ac_price %>" />
<% } %>

<!--<div style="position:absolute;top:12%;left:0;right:0;z-index:-1;opacity:0.3">
  <img style="width:100%" src="img/nice4.jpg" alt="">
</div>-->
    <div class="w3-row page-wrap">
      <div class="w3-col left-lane">

            <section class="item-hero">
              <div style="background: url('<%= img[0] %>')no-repeat;" id="hero-background"></div>
            </section>
          <div class="slideshow-container">
            <% img.forEach(function(item,index){ %>
              <% if(index > 0){ %>
                <div class="mySlides fade">
                  <img src="<%= item %>" style="width:100%;height:300px">
                </div>
              <% } %>
            <% }); %>
          </div>

          <div style="text-align:center">
          <% img.forEach(function(item,index){ %>
            <% if(index != 0){ %>
            <span class="dot" onclick="currentSlide(<%= index %>)"></span>
            <% } %>
          <% }); %>
          </div>

          <div style="margin-bottom:8px" id="price-comparison">
            <a class="w3-text-indigo w3-text-black" href="<%- currentPost.shoppy_link %>"><%= currentPost.shoppy_txt %></a>
          </div>
          <div style="height:59px;" class="buy w3-row">
            <% if(isAuthenticated){ %>
              <a onclick="checkout_btn_press()" style="width:78%;height: 59px; padding: 5px 0px;background-color:#424242" class="w3-col w3-button w3-round-xxlarge">
                <span style="text-align:center" class="custom-txt-color w3-large"><b><%= currentPost.price %></b></span>
                 <br>
                <span class="custom-txt-color w3-medium">GET DISTIN</span>
              </a>
            <% }else{ %>
              <a href="/login" style="width:78%;height: 59px; padding: 5px 0px;background-color:#424242" class="w3-col w3-button w3-round-xxlarge">
                <span style="text-align:center" class="custom-txt-color w3-large"><b>GHS <%= currentPost.price %></b></span>
                 <br>
                <span class="custom-txt-color w3-medium">GET DISTIN</span>
              </a>
            <% } %>

            <span id="share_btn" style="cursor:pointer;position:relative;background-color: #424242;height: 59px;width:59px;line-height:59px;text-align:center" class="custom-txt-color w3-col-rest w3-right w3-circle" href="#">Share
            <div id="share_btns" style="cursor:pointer;position:absolute;left:50px;top:-120%;color:#fff;display:none;padding:16px;height:auto">
              <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fonedistin.herokuapp.com%2F&amp;src=sdkpreparse"><i style="margin-bottom:5px;font-size:30px;width:50px;height:50px;text-align:center;line-height:50px" class="share_btn facebook fa w3-circle fa-facebook"></i></a>
              <a href="https://twitter.com/intent/tweet?text= <%= currentPost.share_txt %>"><i style="margin-bottom:5px;font-size:30px;width:50px;height:50px;text-align:center;line-height:50px" class="share_btn twitter fa w3-circle fa-twitter"></i></a>
              <a href="whatsapp://send?text=<%= currentPost.share_txt %>" data-action="share/whatsapp/share"><i style="margin-bottom:50px;font-size:30px;width:50px;height:50px;text-align:center;line-height:50px" class="share_btn instagram fa w3-circle fa-whatsapp"></i></a>
            </div>
          </span>
          </div>
          <h3 style="text-align:left"><%= currentPost.title %></h3>
          <div class="w3-left thing-get">
            <%- currentPost.thingGet %>
          </div>
      </div>
      <div class="w3-col middle-lane w3-left w3-mobile w3-container">
        <span style="text-align:left;word-break: break-all"><%- currentPost.writeup %></span>
      </div>
      <div class="w3-col right-lane w3-mobile">
          <iframe id="ytplayer" type="text/html" width="100%" height="300"
            src="https://www.youtube.com/embed/<%= currentPost.video %>"
            frameborder="0"></iframe>
            <p style="margin:0 auto;text-align:left">Our daily video</p>
          <ul style="width:100%" class="w3-ul w3-margin-top">
            <% forumPosts.forEach(function(item){ %>
              <a class="w3-left" style="width:100%" href="/forum/<%= item.post_url %>"><li style="padding-left:0;width:inherit">
                <img class="w3-circle w3-left" src="http://via.placeholder.com/40x40" alt="">
                  <%= item.post_title %>
                  <i class="fa fa-heart"> <%= item.post_likes %> </i>
                  <i class="fa fa-comment"> <%= item.post_comments %> </i>


              </li></a>
            <% }); %>
          </ul>
          <a href="/forum"><button style="background-color: #424242;margin-bottom:10px;width:100%;" class="w3-button w3-round-xxlarge w3-margin-top" type="submit" name="button"><h5 class="custom-txt-color" style="margin:0">Checkout the community <i class="fa fa-angle-right"></i> </h5></button></a>
      </div>
    </div>

    <% include partials/footer.ejs %>






    <% if(isAuthenticated){ %>
      <!-- ######### THIS IS BEGINING OF THE CHECKOUT MODAL ######## -->

        <div id="id01" class="w3-modal">

            <div class="w3-container">
              <div style="padding:32px 48px" class="w3-modal-content w3-center w3-white w3-border w3-card-4 w3-mobile w3-container w3-animate-bottom">
                <span onclick="document.getElementById('id01').style.display='none'"
                class="w3-button w3-xlarge w3-text-red w3-display-topright">&times;</span>
                <h3 style="text-align:left">Here's what you are getting:</h3>
                <span class="checkout-items">
                  <span class="single-item">
                <div style="padding:0;" class="checkout-item-bar w3-panel w3-row w3-border w3-round">
                  <!--<span class="w3-button reduce-item w3-right w3-red w3-xlarge w3-text-white">&times;</span>-->
                  <img style="width:15%;margin-right:10px" class="w3-left w3-col" style="margin-right:10px;" src="<%= img[1] %>" alt="">
                  <div style="width:75%;" class="w3-col">
                    <h4 style="margin-bottom:0;text-align:left;"><b><%= currentPost.title %></b></h4>
                    <p style="text-align:left;"><%= currentPost.price %></p>
                  </div>

                  <% currentPost.categories.forEach(function(item){ %>
                    <div style="width:100%;border-top:1px solid #cccccc;" class="w3-col w3-padding">
                      <span class="w3-left w3-xlarge"><%= item[0] %></span>
                      <select class="w3-right w3-xlarge" name="category">
                          <% item.forEach(function(i,index){ %>
                            <% if(index > 0 && index < item.length-1){ %>
                              <option value=""><%= i %></option>
                            <% }%>

                          <% }); %>
                      </select>
                    </div>
                  <% }); %>


                </div>
                </span>
                </span>
                <a style="width:100%;" class="add-item-bar w3-button w3-round-xlarge w3-border w3-text-teal" href="#"><h3 style="margin:0">Wanna add another?</h3></a>
                <h3 style="text-align:left">Where should we deliver distin?</h3>
                <div class="shipping-address">
                  <dl>
                    <dt> <label>Name</label> </dt>
                    <dd> <input type="text" name="" value="<%= currentUser.user_name %>"> </dd>
                    <dt> <label>Address</label> </dt>
                    <dd> <input type="text" name="" value="<%= currentUser.user_address%>"> </dd>
                    <dt> <label>City</label> </dt>
                    <dd> <input type="text" name="" value="<%= currentUser.user_city %>"> </dd>
                    <dt> <label>Region</label> </dt>
                    <dd> <select name="region">
                      <option value="<%= currentUser.user_loc %>"><%= currentUser.user_loc %></option>
                      <option value="Ashanti">Ashanti</option>
                      <option value="Brong Ahafo">Brong Ahafo</option>
                      <option value="Central">Central</option>
                      <option value="Eastern">Eastern</option>
                      <option value="Greater Accra">Greater Accra</option>
                      <option value="Northern">Northern</option>
                      <option value="Upper East">Upper East</option>
                      <option value="Upper West">Upper West</option>
                      <option value="Volta">Volta</option>
                      <option value="Western">Western</option>
                    </select> </dd>
                    <dt> <label>Phone</label> </dt>
                    <dd> <input type="text" name="" value="<%= currentUser.user_phone %>"> </dd>
                  </dl>
                </div>
                <% if(offers.offer_one == 1){ %>
                  <p>Your delivery is free</p>
                <% }else{ %>
                  <h3 style="text-align:left">Delivery fee:</h3>
                  <% if(currentUser.user_loc !== "Greater Accra"){ %>
                    <table id="del_table01">
                      <tr>
                        <td style="text-align:left"> <b>GHS 10</b> - <span class="w3-opacity">Delivery within 5 working days</span></td>
                      </tr>
                      <tr>
                        <td><p style="text-align:left" class="w3-text-red">delivery will be made to your nearest VIP station.</p></td>
                      </tr>
                    </table>


                    <table id="del_table02" style="display:none">
                      <tr>
                        <td><input id="low" type="radio" name="fee" checked> <b>GHS 5</b> - <span class="w3-opacity">Delivery within 5 working days</span></td>
                      </tr>
                      <tr>
                        <td style="text-align:left"><input id="high" type="radio" name="fee"> <b>GHS 10</b> - <span class="w3-opacity">Delivery within 24Hrs</span></td>
                      </tr>
                    </table>
                  <% }else{ %>
                    <table id="del_table01" style="display:none">
                      <tr>
                        <td style="text-align:left"> <b>GHS 10</b> - <span class="w3-opacity">Delivery within 5 working days</span></td>
                      </tr>
                      <tr>
                        <td><p style="text-align:left" class="w3-text-red">delivery will be made to your nearest VIP station.</p></td>
                      </tr>
                    </table>


                    <table id="del_table02">
                      <tr>
                        <td><input id="low" type="radio" name="fee" checked> <b>GHS 5</b> - <span class="w3-opacity">Delivery within 5 working days</span></td>
                      </tr>
                      <tr>
                        <td style="text-align:left"><input id="high" type="radio" name="fee"> <b>GHS 10</b> - <span class="w3-opacity">Delivery within 24Hrs</span></td>
                      </tr>
                    </table>
                  <% } %>

                <% } %>
                <br>
                <a style="cursor: pointer;text-align:left" class="show-coupon"><h3>Got a coupon code? <i class="fa fa-angle-down"></i> </h3></a>
                <input style="display:none;width:100%;height:55px" class="w3-round w3-border coupon-box" type="text" name="" placeholder="Enter your coupon">

                <h3 style="text-align:left">Finally! Want this right?</h3>
                <dl class="straight">
                  <dd class="item-pricing"> <label><%= currentPost.title %></label> <span class="price w3-text-blue"><%= currentPost.price %></span> </dd>
                  <dd> <label>Delivery fee</label>
                    <% if(offers.offer_one == 1){ %>
                      <span class="w3-tag w3-green price">free delivery</span>
                    <% }else{ %>
                      <span class="delivery-fee price w3-text-blue">GHS 5.0</span>
                    <% } %>
                  </dd>
                  <dd> <label>Total</label> <span class="price w3-text-blue">
                    <% if(offers.offer_three == 1){ %>
                      <span class="w3-tag w3-green">10% off</span>
                    <% } %>
                    <% if(offers.offer_two == 1){ %>
                      <span class="w3-tag w3-green">5% off</span>
                    <% } %>
                    <span class="total_price">GHS 45.70</span></span> </dd>
                </dl>
                <form method="POST" action="https://community.ipaygh.com/gateway">
                  <input type="hidden" name="merchant_key" value="965c2850-a0b4-11e8-af31-f23c9170642f" />
                  <input type="hidden" name="success_url" value="https://onedistin.herokuapp.com/p_s" />
                  <input type="hidden" name="cancelled_url" value="https://onedistin.herokuapp.com/p_c" />
                  <input type="hidden" name="deferred_url" value="https://onedistin.herokuapp.com/d_p" />
                  <input type="hidden" name="invoice_id" value="<%= token %>" />
                  <input type="hidden" name="total" value="" />
                  <button style="margin-bottom:10px;width:100%;" class="w3-button w3-blue w3-round-xlarge w3-margin-top" type="submit" name="button"><h3 style="margin:0">Yes! Can't wait!</h3></button>
                </form>

              </div>
            </div>
        </div>
     <% }else{ %>

    <% } %>

</div>
<script src="/js/checkout.js"></script>
<script src="/js/survey.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $("#share_btn").hover(function(){
    $("#share_btns").stop().show(400);
  });
  $("#share_btn").mouseleave(function(){
    $("#share_btns").stop().hide(400);
  });
});
// This is the code to redirect checkout to another link on mobile view!
function checkout_btn_press() {
  if (screen.width <= 699) {
  document.location = "/checkout";
  }else{
    document.getElementById('id01').style.display='block';
  }
}


// This is the code for the image slider
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
showSlides(slideIndex += n);
}

function currentSlide(n) {
showSlides(slideIndex = n);
}

function showSlides(n) {
var i;
var slides = document.getElementsByClassName("mySlides");
var dots = document.getElementsByClassName("dot");
if (n > slides.length) {slideIndex = 1}
if (n < 1) {slideIndex = slides.length}
for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
}
for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
}
slides[slideIndex-1].style.display = "block";
dots[slideIndex-1].className += " active";
}
</script>
  </body>
</html>
