<% include partials/header.ejs %>
<style>
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
 p, h1 {
   text-align: left;
 }

 .progress {
   display: flex;
   flex-direction: row;
   justify-content: center;
 }
 .progress span {
   width: 25px;
   height: 25px;
   margin: 2px;
   border-radius: 50%;
   background-color: #595b5d;
   color: #fff;
   font-weight: bolder;
   display: grid;
   align-items: center;
   text-align: center;
 }
 .progress span.active {
   background-color: #2196F3;
 }
</style>
<!--<div style="position:absolute;top:12%;left:0;right:0;z-index:-1;opacity:0.3">
  <img style="width:100%" src="img/nice4.jpg" alt="">
</div>-->
    <div class="w3-row w3-center">
      <div class="w3-quarter w3-container">

      </div>
      <div style="margin-bottom:300px" class="w3-half w3-center w3-mobile w3-container w3-animate-bottom">
        <% if(isSaver){ %>

          <span style="font-weight: bolder" class="w3-large">Your Status</span>
          <% if(saver.referals < 10){ %>
            <div style="margin-top: 30px" class="progress">
              <% for(i=1; i<=10; i++){ %>
                <% if(i<= saver.referals){ %>
                  <span class="active"><%= i %></span>
                <% }else{ %>
                  <span><%= i %></span>
                <% } %>
              <% } %>
              <span style="background: #fff;margin-top: -10px"><img src="/img/diary.svg" style="width:50px" alt=""></span>
            </div>
            <p style="text-align: center!important">You have introduced <b><%= saver.referals %> distiners</b>, only <b> <%= 10 - saver.referals %> more</b> to get your <b>Onedistin swag diary</b></p>
          <% }else if(saver.referals < 25 && saver.referals >= 10){ %>
            <div style="margin-top: 30px" class="progress">
              <% for(i=10; i<=25; i++){ %>
                <% if(i<= saver.referals){ %>
                  <span class="active"><%= i %></span>
                <% }else{ %>
                  <span><%= i %></span>
                <% } %>
              <% } %>
              <span style="background: #fff;margin-top: -10px"><img src="/img/shirt.svg" style="width:50px" alt=""></span>
            </div>
            <p style="text-align: center!important">You have introduced <b><%= saver.referals %> people</b>, only <b> <%= 25 - saver.referals %> more</b> to get your <b>swag T-shirt</b></p>
          <% }else if(saver.referals < 50 && saver.referals >= 25){ %>
            <div style="margin-top: 30px" class="progress">
            <div class="w3-border">
              <div class="w3-grey" style="height:24px;width:<%= (((saver.referals - 25)/50)*100)+'%' %>"></div>
            </div>
            </div>
            <p style="text-align: center!important">You have introduced <b><%= saver.referals %> people</b>, only <b> <%= 50 - saver.referals %> more</b> to get your <b>swag DrawString Bag</b></p>
          <% } %>






          <div>
            <span style="font-weight: bolder" class="w3-large">Share</span>
            <p style="text-align: center!important">Use your personal link below to get new people to subscribe to the deal alerts.</p>
            <span class="w3-padding w3-blue w3-round"><b class="w3-large">https://1distin.com/sub/<%= refId %></b></span>
            <div class="container w3-margin-top">
              <a href="https://bit.ly/FBdistin" ><i style="background-color:#3B5998;margin-bottom:5px;font-size:16px;width:50px;height:50px;text-align:center;line-height:50px" class="fa w3-circle w3-text-black fa-facebook"></i>
              <a href="https://bit.ly/TwitaDistin" ><i style="background-color:#2f87d2;margin-bottom:5px;font-size:16px;width:50px;height:50px;text-align:center;line-height:50px" class="fa w3-circle w3-text-black fa-twitter"></i>
              <a href="https://bit.ly/InstaDistin" ><i style="background-color:#25d366;margin-bottom:5px;font-size:16px;width:50px;height:50px;text-align:center;line-height:50px" class="fa w3-circle w3-text-black fa-whatsapp"></i>
            </div>
          </div>


        <% }else{ %>
          <h1>theSavers</h1>
          <p class="w3-text-grey">You know you want to be a part of this…</p>

          <h1>Who are theSavers?</h1>
  <p>theSavers are Onedistin’s brand ambassadors. They are a community committed to getting the best bargains and empowering others to do the same. theSavers connect with one another online and IRL and get unique access to Onedistin, invites to private events and exclusive content. Side note: They also get Onedistin swag.</p>
          <h1>What would I do?</h1>
  <p>Spread the word about Onedistin in your place of work, campus, network, family, those random Facebook and Twitter friends... use a unique link that gives you credit for getting people to subscribe to the daily deal alert.
  Wear Onedistin swag around town.
  Give feedback and brainstorm with the Onedistin team.</p>
          <h1>What would I get?</h1>
  <p>Swag on swag. Go wild. Rock your Onedistin Drawstring bag and rock your Onedistin shirt, while typing on your Onedistin-cased phone, writing in your Onedistin diary and getting free delivery on all purchases for 12 months.
  An invite to our private Savers’ Facebook group where you can connect and network with other Savers and get free self-improvement resources.</p>

  <p>Extra birthday love</p>

  <p>Partnership perks. Exclusives with our partner brands.</p>
          <h1>How do I start?</h1>
  <p>Use your personal link below to get 10 new smart shoppers or deal hunters to subscribe to the daily deal alerts.</p>
  <button id="share" style="margin-bottom:10px;width:100%;" class="w3-button button-color w3-round-xxlarge w3-margin-top">
  <a class="w3-text-white" href="/thesavers/start" style="color:inherit" ><h3 style="margin:0;font-size:22px" class="muli-regular">Get me started!</h3></a>
  </button>
        <% } %>

          <!--<span><b>Introduce a friend</b></span><br>
          <span class="w3-padding">https://www.onedistin.com/signup?referer=<%= refId %></span>
          <button id="share" style="margin-bottom:10px;width:100%;" class="w3-button button-color w3-round-xxlarge w3-margin-top" onmouseout="outFunc()">
            <a class="w3-text-white" href="whatsapp://send?text=Want to get great discount deals every day? Click the link to create an account on Onedistin and get free 100 points. http://onedistin.com/signup?referer=<%= refId %>" style="color:inherit" ><h3 style="margin:0;font-size:22px" class="muli-regular">Introduce Friends</h3></a>
          </button>-->
      </div>
      <div class="w3-quarter w3-container">

      </div>

      <script>
      </script>
