<% include partials/header.ejs %>
<script type="text/javascript">
var html = document.getElementsByTagName('html')[0];
html.style.cssText = "--custom-color: <%= currentPost.bg_color %>;";
</script>
<!--<div style="position:absolute;top:12%;left:0;right:0;z-index:-1;opacity:0.3">
  <img style="width:100%" src="img/nice4.jpg" alt="">
</div>-->
    <div class="w3-row page-wrap">
      <div class="w3-col left-lane">

            <section class="item-hero">
              <div style="background: url('<%= img[0] %>')no-repeat;" id="hero-background"></div>
            </section>
          <div class="slideshow-container">
            <% img.forEach(function(item,index){ %>
              <% if(index > 0){ %>
                <div class="mySlides fade">
                  <img src="<%= item %>" style="width:100%;height:300px">
                </div>
              <% } %>
            <% }); %>
          </div>

          <div style="text-align:center">
          <% img.forEach(function(item,index){ %>
            <% if(index != 0){ %>
            <span class="dot" onclick="currentSlide(<%= index %>)"></span>
            <% } %>
          <% }); %>
          </div>

          <div style="margin-bottom:8px" id="price-comparison">
            <a class="w3-text-indigo w3-text-black" href="<%- currentPost.shoppy_link %>"><%= currentPost.shoppy_txt %></a>
          </div>
          <div style="height:59px;" class="buy w3-row">
            <a onclick="checkout_btn_press()" style="width:78%;height: 59px; padding: 5px 0px;background-color:#424242" class="w3-col w3-button w3-round-xxlarge">
              <span style="text-align:center" class="custom-txt-color w3-large"><b>Too Late</b></span>
               <br>
              <span class="custom-txt-color w3-medium">IT'S OVER</span>
            </a>

          <span id="share_btn" style="cursor:pointer;position:relative;background-color: #424242;height: 59px;width:59px;line-height:59px;text-align:center" class="custom-txt-color w3-col-rest w3-right w3-circle" href="#">Oops</span>
          </div>
          <div style="margin-bottom:8px" id="price-comparison">
            <a class="w3-text-indigo w3-text-black" href="<%- currentPost.shoppy_link %>">
            WE'RE NOT SELLING THIS ANYMORE BUT YOU CAN BUY IT ON JUMIA</a>
          </div>
          <div class="w3-left thing-get">
            <%- currentPost.thingGet %>
          </div>
      </div>
      <div class="w3-col middle-lane w3-left w3-mobile w3-container">
        <span style="text-align:left"><%- currentPost.writeup %></span>
      </div>
      <div class="w3-col right-lane w3-mobile">
          <iframe id="ytplayer" type="text/html" width="100%" height="300"
            src="https://www.youtube.com/embed/<%= currentPost.video %>"
            frameborder="0"></iframe>
            <p style="margin:0 auto;text-align:left">Our daily video</p>
          <ul style="width:100%" class="w3-ul w3-margin-top">
            <% forumPosts.forEach(function(item){ %>
              <a class="w3-left" style="width:100%" href="/forum/<%= item.post_url %>"><li style="padding-left:0;width:inherit">
                <img class="w3-circle w3-left" src="http://via.placeholder.com/40x40" alt="">
                  <%= item.post_title %>
                  <i class="fa fa-heart"> <%= item.post_likes %> </i>
                  <i class="fa fa-comment"> <%= item.post_comments %> </i>


              </li></a>
            <% }); %>
          </ul>
          <a href="/forum"><button style="background-color: #424242;margin-bottom:10px;width:100%;" class="w3-button w3-round-xxlarge w3-margin-top" type="submit" name="button"><h5 class="custom-txt-color" style="margin:0">Checkout the community <i class="fa fa-angle-right"></i> </h5></button></a>
      </div>
    </div>

    <% include partials/footer.ejs %>
<script type="text/javascript">
$(document).ready(function(){
  $("#share_btn").hover(function(){
    $("#share_btns").stop().show(400);
  });
  $("#share_btn").mouseleave(function(){
    $("#share_btns").stop().hide(400);
  });
});
// This is the code to redirect checkout to another link on mobile view!
function checkout_btn_press() {
  if (screen.width <= 699) {
  document.location = "/checkout";
  }else{
    document.getElementById('id01').style.display='block';
  }
}


// This is the code for the image slider
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
showSlides(slideIndex += n);
}

function currentSlide(n) {
showSlides(slideIndex = n);
}

function showSlides(n) {
var i;
var slides = document.getElementsByClassName("mySlides");
var dots = document.getElementsByClassName("dot");
if (n > slides.length) {slideIndex = 1}
if (n < 1) {slideIndex = slides.length}
for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
}
for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
}
slides[slideIndex-1].style.display = "block";
dots[slideIndex-1].className += " active";
}
</script>
  </body>
</html>
