<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126294820-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-126294820-1');
</script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '1482111765221792');
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1"
src="https://www.facebook.com/tr?id=1482111765221792&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

<!-- Hotjar Tracking Code for www.onedistin.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1015846,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= currentPost.title %></title>
    <meta name="description" content="<%= currentPost.description %>">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

    <script type="text/javascript">
    var html = document.getElementsByTagName('html')[0];
    html.style.cssText = "--custom-color: <%= currentPost.bg_color %>;";
    </script>

    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  </head>
  <body style="position:relative">
<% include partials/header.ejs %>
<!--<div style="position:absolute;top:12%;left:0;right:0;z-index:-1;opacity:0.3">
  <img style="width:100%" src="img/nice4.jpg" alt="">
</div>-->
    <div class="w3-row page-wrap">
      <div class="w3-col left-lane">

            <section class="item-hero">
              <div style="background: url('<%= img[0] %>')no-repeat;" id="hero-background"></div>
            </section>
          <div class="slideshow-container">
            <% img.forEach(function(item,index){ %>
              <% if(index > 0){ %>
                <div class="mySlides fade">
                  <img src="<%= item %>" style="width:100%;height:300px">
                </div>
              <% } %>
            <% }); %>
          </div>

          <div style="text-align:center">
          <% img.forEach(function(item,index){ %>
            <% if(index != 0){ %>
            <span class="dot" onclick="currentSlide(<%= index %>)"></span>
            <% } %>
          <% }); %>
          </div>

          <div style="height:59px;" class="buy w3-row">
            <a style="width:78%;height: 59px; padding: 5px 0px;background-color:#424242" class="w3-col w3-button w3-round-xxlarge">
              <span style="text-align:center" class="custom-txt-color w3-large"><b><%= currentPost.price %></b></span>
               <br>
              <span class="custom-txt-color w3-medium">IT'S OVER</span>
            </a>

          <span id="share_btn" style="cursor:pointer;position:relative;background-color: #424242;height: 59px;width:59px;line-height:59px;text-align:center" class="custom-txt-color w3-col-rest w3-right w3-circle" href="#">Oops</span>
          </div>
          <h3 style="text-align:left;font-size:22px;margin-bottom:0" class="muli-regular"><%= currentPost.title %></h3>
          <div style="margin-bottom:8px" id="price-comparison">
            <a class="w3-text-indigo w3-text-black" href="<%- currentPost.shoppy_link %>">
            WE'RE NOT SELLING THIS ANYMORE BUT YOU CAN <u>BUY IT ON JUMIA</u></a>
          </div>
          <div class="w3-left thing-get">
            <%- currentPost.thingGet %>
          </div>
      </div>
      <div class="w3-col middle-lane w3-left w3-mobile w3-container" style="margin-top:0px!important">
        <span style="text-align:left"><%- currentPost.writeup %></span>
      </div>
      <div class="w3-col right-lane w3-mobile" style="margin-top:0px!important">
          <iframe id="ytplayer" type="text/html" width="100%" height="300"
            src="https://www.youtube.com/embed/<%= currentPost.video %>"
            frameborder="0"></iframe>
            <p style="margin:0 auto;text-align:left">Our daily video</p>
          <ul style="width:100%" class="w3-ul w3-margin-top">
            <% forumPosts.forEach(function(item){ %>
              <a class="w3-left" style="width:100%" href="/community/<%= item.post_url %>"><li style="padding-left:0;width:inherit">
                <img style="width:50px;height:50px" class="w3-circle w3-left" src="https://source.unsplash.com/50x50/?<%= item.post_title.split(' ').join(',') %>" alt="">
                  <%= item.post_title %>
                  <i class="fa fa-heart"> <%= item.post_likes %> </i>
                  <i class="fa fa-comment"> <%= item.post_comments %> </i>


              </li></a>
            <% }); %>
          </ul>
          <a href="/community"><button style="background-color: #424242;margin-bottom:10px;width:100%;" class="w3-button w3-round-xxlarge w3-margin-top" type="submit" name="button"><h5 class="custom-txt-color" style="margin:0">Checkout the community <i class="fa fa-angle-right"></i> </h5></button></a>
      </div>
    </div>

    <% include partials/footer_n_survey.ejs %>
<script type="text/javascript">
$(document).ready(function(){
  $("#share_btn").hover(function(){
    $("#share_btns").stop().show(400);
  });
  $("#share_btn").mouseleave(function(){
    $("#share_btns").stop().hide(400);
  });
});
// This is the code to redirect checkout to another link on mobile view!
function checkout_btn_press() {
  if (screen.width <= 699) {
  document.location = "/checkout";
  }else{
    document.getElementById('id01').style.display='block';
  }
}


// This is the code for the image slider
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
showSlides(slideIndex += n);
}

function currentSlide(n) {
showSlides(slideIndex = n);
}
setInterval(function(){
  showSlides(slideIndex += 1);
},5000);
function showSlides(n) {
var i;
var slides = document.getElementsByClassName("mySlides");
var dots = document.getElementsByClassName("dot");
if (n > slides.length) {slideIndex = 1}
if (n < 1) {slideIndex = slides.length}
for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
}
for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
}
slides[slideIndex-1].style.display = "block";
dots[slideIndex-1].className += " active";
}
</script>
  </body>
</html>
