<% include partials/header.ejs %>
    <div class="w3-row w3-margin-top">
      <div style="color: #fff" class="w3-quarter w3-container">
        .
      </div>
      <div class="w3-half w3-mobile w3-container">
        <ul class="w3-ul">
          <% pastdeals.forEach(function(item){ %>
            <li class="w3-bar">
              <!--<a href="/pastdeal/<%= item.ID %>"><img src="/img/nice1.jpg" class="w3-left w3-border w3-round-xlarge" style="height:50px;width:50px"></a>-->
              <div style="padding-top: 0;" class="w3-bar-item">
                <a class="w3-text-black" href="/pastdeal/<%= item.timestamp %>"><span class="muli-bold" style="font-size:22px"><%= item.post_title %></span></a><br>
                <span class="w3-opacity">Posted on <span class="time"><%= item.time %></span> </span><br>
                <span class="w3-opacity">Current activity on post</span>
                <span class="w3-bar">
                  <a style="padding: 0;" href="/forum/<%= item.post_url %>" class="w3-bar-item w3-text-black"><i class="fa fa-heart-o"></i> <%= item.post_likes %> <br></a>
                  <a style="padding: 0;" href="/forum/<%= item.post_url %>" class="w3-bar-item w3-text-black"><i class="fa fa-comment-o"></i> <%= item.post_comments %></a>
                </span>
              </div>

            </li>
          <% }); %>
        </ul>
      </div>
      <div class="w3-quarter w3-container">

      </div>
    </div>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->

  </body>
</html>
