<% include partials/header.ejs %>
<style media="screen">
  body {
    /*background: #fff/*var(--main-color)*/
    background-color: #fff;
  }
</style>
<!--<div style="position:absolute;top:12%;left:0;right:0;z-index:-1;opacity:0.3">
  <img style="width:100%" src="img/nice4.jpg" alt="">
</div>-->
    <div class="w3-row w3-center">
      <div class="w3-quarter w3-container">

      </div>
      <div style="margin-bottom:300px" class="w3-half w3-center w3-mobile w3-container w3-animate-bottom">
        <h1 style="text-align:left"><b>Your Account</b></h1>
        <h3 style="text-align:left">Your Info:</h3>
        <a style="text-align:right" class="w3-button w3-round-xlarge" href="/profile/user-info">edit</a>
        <div style="text-align:left" class="w3-container w3-border w3-round-large">
          <label><b>Username:</b></label> <%= userData.display_name %> <br>
          <label><b>Password:</b></label> <br>
          <label><b>Email:</b></label> <%= userData.user_email %> <br>
          <label><b>Phone:</b></label> <%= userData.user_phone %>
        </div>
        <h3 style="text-align:left">Recent Orders:</h3>
        <dl class="straight">
            <dd><label>A smart watch</label> <span class="tag">Pending</span> </dd>
            <dd><label>A second pending delivered</label> <span class="tag">Pending</span> </dd>
            <dd><label>A new book for you</label> <span class=tag">Delivered</span> </dd>
            <dd><label>A fan on the go</label> <span class=tag">Delivered</span> </dd>
        </dl>

        <h3 style="text-align:left">Your delivery info:</h3>
        <div class="shipping-address">
          <dl>
            <dt> <label>Fullname</label> </dt>
            <dd> <input type="text" name="" value="<%= userData.user_name %>"> </dd>
            <dt> <label>Address</label> </dt>
            <dd> <input type="text" name="" value=""> </dd>
            <dt> <label>City</label> </dt>
            <dd> <input type="text" name="" value="<%= userData.user_loc %>"> </dd>
            <dt> <label>Region</label> </dt>
            <dd> <input type="text" name="" value=""> </dd>
          </dl>
        </div>

        <h3 style="text-align:left">Subscriptions:</h3>
        <div class="w3-bar-block w3-border w3-container">
          <section class="w3-bar-item"><input type="checkbox"> OneDistin daily deals (email) </section>
          <section class="w3-bar-item"><input type="checkbox"> Forum notifications (email) </section>
          <section class="w3-bar-item"><input type="checkbox"> Special interest (WhatsApp) </section>
        </div>

      </div>
      <div class="w3-quarter w3-container">

      </div>
</script>
  </body>
</html>
