<% include partials/header.ejs %>
<style media="screen">
  body {
    /*background: #fff/*var(--main-color)*/
    background-color: #fff;
  }
  a {
    line-height: 18px;
  }
  h3 {
    font-size: 22px;
    line-height: 22px;
  }
</style>
<!--<div style="position:absolute;top:12%;left:0;right:0;z-index:-1;opacity:0.3">
  <img style="width:100%" src="img/nice4.jpg" alt="">
</div>-->
    <div class="w3-row w3-center">
      <div class="w3-quarter w3-container">

      </div>
      <div style="margin-bottom:300px" class="w3-half w3-center w3-mobile w3-container w3-animate-bottom">
        <h1 style="text-align:left;font-size:36px" class="muli-bold">Your Account</h1>
        <h3 style="margin-bottom: 0;float:left" class="muli-bold">Your Info:</h3>
        <a style="float:right;margin-bottom:5px" class="w3-button w3-round-xxlarge button-color-inverse w3-text-white" href="/profile/user-info">edit</a>
        <div class="clearfix"></div>
        <div style="text-align:left" class="w3-container w3-border w3-round-large">
          <label><b>Username:</b></label> <%= userData.display_name %> <br>
          <label><b>Email:</b></label> <%= userData.user_email %> <br>
          <label><b>Phone:</b></label> <%= userData.user_phone %>
        </div>
        <h3 style="text-align:left" class="muli-bold">Recent Orders:</h3>
        <dl class="straight">
          <% if(orders.length > 0){ %>
            <% orders.forEach(function(item){ %>
              <dd><label><%= item.dealTitle %></label> <span class="tag w3-green">Pending delivery</span> </dd>
            <% }); %>
          <% } %>

            <!--<dd><label>A smart watch</label> <span class="tag w3-green">Pending</span> </dd>
            <dd><label>A second Item</label> <span class="tag w3-green">Pending</span> </dd>
            <dd><label>A new book for you</label> <span class="tag w3-red">Delivered</span> </dd>
            <dd><label>A fan on the go</label> <span class="tag w3-red">Delivered</span> </dd>-->
        </dl>
        <br>
        <h3 style="margin-bottom: 0;float:left" class="muli-bold">Your delivery info:</h3>
        <a style="float:right;margin-bottom:5px;" class="w3-button w3-round-xxlarge button-color-inverse w3-text-white" href="/profile/delivery-info">edit</a>
        <div class="clearfix"></div>
        <div class="shipping-address">
          <div style="text-align:left" class="w3-container w3-border w3-round-large">
            <label><b>Fullname:</b></label> <%= userData.user_name %> <br>
            <label><b>Address:</b></label> <%= userData.user_address %><br>
            <label><b>City:</b></label> <%= userData.user_city %><br>
            <label><b>Region:</b></label> <%= userData.user_loc %>
          </div>
        </div>
        <br>
        <h3 style="margin-bottom: 0;float:left" class="muli-bold">Subscriptions:</h3>
        <a style="float:right;margin-bottom:5px;" class="w3-button w3-round-xxlarge button-color-inverse w3-text-white" href="/profile/subscriptions">edit</a>
        <div class="clearfix"></div>
        <div style="text-align:left" class="w3-container w3-border w3-round-large">
        <% var subs = userData.subscriptions; %>
        <% if(subs[0] == 1){ %>
            <section class="w3-bar-item"> Onedistin daily deals (email) </section>
        <% } %>
        <% if(subs[1] == 1){ %>
            <section class="w3-bar-item"> Forum notifications (email) </section>
        <% } %>
        <% if(subs[2] == 1){ %>
            <section class="w3-bar-item"> Special interest (WhatsApp) </section>
        <% } %>

        </div>

      </div>
      <div class="w3-quarter w3-container">

      </div>
</script>
  </body>
</html>
