<% include partials/header.ejs %>
<style media="screen">
  body {
    /*background: #fff/*var(--main-color)*/
    background-color: #fff;
  }
</style>
<!--<div style="position:absolute;top:12%;left:0;right:0;z-index:-1;opacity:0.3">
  <img style="width:100%" src="img/nice4.jpg" alt="">
</div>-->
    <div class="w3-row w3-center">
      <div class="w3-quarter w3-container">

      </div>
      <div style="margin-bottom:300px" class="w3-half w3-center w3-mobile w3-container w3-animate-bottom">
        <h1 style="text-align:left"><b>Your Account</b></h1>
        <h3 style="text-align:left">Your Info:</h3>
        <dl>
          <dt> <label>Username</label> </dt>
          <dd> <input type="text" name="" value="<%= userData.display_name %>"> </dd>
          <dt> <label>Password</label> </dt>
          <dd> <input type="text" name="" value=""> </dd>
          <dt> <label>Email</label> </dt>
          <dd> <input type="text" name="" value="<%= userData.user_email %>"> </dd>
          <dt> <label>Phone</label> </dt>
          <dd> <input type="text" name="" value="<%= userData.user_phone %>"> </dd>
        </dl>
        <h3 style="text-align:left">Recent Orders:</h3>
        <table class="w3-table w3-striped w3-border">
          <tr>
            <th colspan="2">Orders</th>
          </tr>
          <tr>
            <td>A smart watch</td>
            <td> <span class="w3-tag w3-blue">Pending</span> </td>
          </tr>
          <tr>
            <td>A second pending delivered</td>
            <td> <span class="w3-tag w3-blue">Pending</span> </td>
          </tr>
          <tr>
            <td>A new book for you</td>
            <td> <span class="w3-tag w3-red">Delivered</span> </td>
          </tr>
          <tr>
            <td>A fan on the go</td>
            <td> <span class="w3-tag w3-red">Delivered</span> </td>
          </tr>
        </table>

        <h3 style="text-align:left">Your delivery info:</h3>
        <div class="shipping-address">
          <dl>
            <dt> <label>Fullname</label> </dt>
            <dd> <input type="text" name="" value="<%= userData.user_name %>"> </dd>
            <dt> <label>Address</label> </dt>
            <dd> <input type="text" name="" value=""> </dd>
            <dt> <label>City</label> </dt>
            <dd> <input type="text" name="" value="<%= userData.user_loc %>"> </dd>
            <dt> <label>Region</label> </dt>
            <dd> <input type="text" name="" value=""> </dd>
          </dl>
        </div>

        <h3 style="text-align:left">Subscriptions:</h3>
        <div class="w3-bar-block w3-border w3-container">
          <section class="w3-bar-item"><input type="checkbox"> OneDistin daily deals (email) </section>
          <section class="w3-bar-item"><input type="checkbox"> Forum notifications (email) </section>
          <section class="w3-bar-item"><input type="checkbox"> Special interest (WhatsApp) </section>
        </div>

      </div>
      <div class="w3-quarter w3-container">

      </div>
</script>
  </body>
</html>
