<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126294820-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-126294820-1');
</script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '1482111765221792');
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1"
src="https://www.facebook.com/tr?id=1482111765221792&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

<!-- Hotjar Tracking Code for www.onedistin.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1015846,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | Onedistin</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  </head>
  <body style="position:relative">
<% include partials/header.ejs %>
<style media="screen">
  body {
    /*background: #fff/*var(--main-color)*/
    background-color: #fff;
  }
  a {
    line-height: 18px;
  }
  h3 {
    font-size: 22px;
    line-height: 22px;
  }
</style>
<!--<div style="position:absolute;top:12%;left:0;right:0;z-index:-1;opacity:0.3">
  <img style="width:100%" src="img/nice4.jpg" alt="">
</div>-->
    <div class="w3-row w3-center">
      <div class="w3-quarter w3-container">

      </div>
      <div style="margin-bottom:300px" class="w3-half w3-center w3-mobile w3-container w3-animate-bottom">
        <h1 style="text-align:left;font-size:36px" class="muli-bold">Your Account</h1>
        <h3 style="margin-bottom: 0;float:left" class="muli-bold">Your Info:</h3>
        <a style="float:right;margin-bottom:5px" class="w3-button w3-round-xxlarge button-color-inverse w3-text-white" href="/profile/user-info">edit</a>
        <div class="clearfix"></div>
        <div style="text-align:left" class="w3-container w3-border w3-round-large">
          <label><b>Username:</b></label> <%= userData.display_name %> <br>
          <label><b>Email:</b></label> <%= userData.user_email %> <br>
          <label><b>Phone:</b></label> <%= userData.user_phone %>
        </div>
        <h3 style="text-align:left" class="muli-bold">Successful Orders:</h3>
        <dl class="straight">
          <% if(orders.length > 0){ %>
            <% orders.forEach(function(item){ %>
              <dd><label><%= item.dealTitle %></label> <span class="tag w3-green">Paid</span> </dd>
            <% }); %>
          <% } %>
        </dl>
        <br>
        <h3 style="margin-bottom: 0;float:left" class="muli-bold">Your delivery info:</h3>
        <a style="float:right;margin-bottom:5px;" class="w3-button w3-round-xxlarge button-color-inverse w3-text-white" href="/profile/delivery-info">edit</a>
        <div class="clearfix"></div>
        <div class="shipping-address">
          <div style="text-align:left" class="w3-container w3-border w3-round-large">
            <label><b>Fullname:</b></label> <%= userData.user_name %> <br>
            <label><b>Address:</b></label> <%= userData.user_address %><br>
            <label><b>City:</b></label> <%= userData.user_city %><br>
            <label><b>Region:</b></label> <%= userData.user_loc %>
          </div>
        </div>
        <br>
        <h3 style="margin-bottom: 0;float:left" class="muli-bold">Subscriptions:</h3>
        <a style="float:right;margin-bottom:5px;" class="w3-button w3-round-xxlarge button-color-inverse w3-text-white" href="/profile/subscriptions">edit</a>
        <div class="clearfix"></div>
        <div style="text-align:left" class="w3-container w3-border w3-round-large">
        <% var subs = userData.subscriptions; %>
        <% if(subs[0] == 1){ %>
            <section class="w3-bar-item"> Onedistin daily deals (email) </section>
        <% } %>
        <% if(subs[1] == 1){ %>
            <section class="w3-bar-item"> Forum notifications (email) </section>
        <% } %>
        <% if(subs[2] == 1){ %>
            <section class="w3-bar-item"> Special interest (WhatsApp) </section>
        <% } %>

        </div>

      </div>
      <div class="w3-quarter w3-container">

      </div>
</script>
  </body>
</html>
